@import '../../../../web_modules/wmkit/variable.css';
.subordinate-list {
    .ul-tab {
        background: #FAFAFA;
        color: #999;
        font-size: 0.26rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 0.9rem;
        line-height: 0.9rem;
        span {
            /* width: 1.1rem; */
            width: 20%;
            text-align: center;
        }
    }
    .ul-list {
        color: #333;
        .ul-list-li {
            margin-left: .1rem;
            overflow: scroll;
        }
        li {
            display: flex;
            justify-content: space-around;
            /* flex-direction:row; */
            span {
                height: 0.9rem;
                line-height: 0.9rem;
                text-align: center;
                font-size: 0.24rem;
                width: 1.7rem;
            }
            div {
                display: flex;
                align-items: center;
                /* width: 1.7rem; */
                width: 20%;
                text-align: center;
                justify-content: center;
                font-size: 12px;
            }
            span:nth-of-type(2) {
                width: 1.3rem;
            }
        }
    }
    .ul-list:nth-child(odd) {
        background: #FAFAFA;
    }
}