.eval-center-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  li {
    /* color: #333; */
    color: #999999;
    height: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #fff;
    span {
      display: block;
      /* font-size: 0.24rem; */
      font-size: 0.28rem;
    }
  }
  .eval-center-li {
    /* border-bottom: 2px solid #ff1f4e;
    color: #ff1f4e; */
    border-bottom: 2px solid #000000;
    color: #000000;
  }
}

.eval-center-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    flex-direction: row;
    padding: 0.19rem 0.26rem 0.19rem 0.19rem;
    border-bottom: 1px solid #ebebeb;
    .eval-img {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.2rem;
    }
    .right-brief {
      display: flex;
      flex-direction: column;
      flex: 1;
      .eval-title {
        font-size: 0.28rem;
        color: #000;
        margin-bottom: 0.2rem;
        width: calc(100vw - 2.18rem);
      }
      .eval-spec {
        font-size: 0.26rem;
        color: #999;
        margin-bottom: 0.2rem;
      }
      .btn-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .eval-btn {
          width: 1.62rem;
          padding: 0.15rem 0 0.11rem;
          border-radius: 0.5rem;
          border: 0.02rem solid #000;
          font-size: 0.24rem;
          color: #000;
          text-align: center;
        }
        .mar-left-18 {
          margin-left: 0.18rem;
        }
        .time {
          color: #999;
        }
      }
    }
  }
}
