.hot-recommen {
  padding: 0.2rem 0.2rem 0.4rem;
  background: #fff;
  border-bottom: 0.2rem solid #fafafa;
  .hot-title {
    margin-bottom: 0.25rem;
    margin-top: 0.05rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span {
      font-size: 0.26rem;
      color: #999;
    }
    .hot-title-left {
      display: flex;
      align-items: center;
      img {
        width: 0.4rem;
        height: 0.4rem;
      }
      span {
        font-weight: bold;
        font-size: 0.28rem;
        margin-left: 0.2rem;
        margin-right: 0.15rem;
        color: #000;
      }
    }
    .hot-title-right {
      flex: 1;
      text-align: right;
      span:first-child {
        font-size: 0.32rem;
        color: #F56969;
        font-weight: bold;
      }
    }
  }

  .swiper-wrapper {
    font-size: 0;
    width: 100%;
    height: 100%;
    .swiper-slide {
      width: 100% !important;
      font-size: 14px;
      height: 100%;
      text-align: inherit;
      display: block;
    }
    .hot-list {
      display: flex;
      flex-direction: row;
      .hot-list-item {
        width: calc(100vw / 3 - 0.28rem);
        margin-right: 0.2rem;
        &:nth-child(3n + 3) {
          margin-right: 0;
        }
        .img-box {
          /* width: 100%; */
          /* height: calc(100vw / 3 - 0.28rem); */
          width: 2.2rem;
          height: 2.2rem;
          display: flex;
          /* align-content: center; */
          align-items: center;
          justify-content: center;
          object-fit: scale-down;
          background: #fff;
          box-shadow:0 0.04rem 0.16rem 0 rgba(51,51,51,0.08);
          border-radius: 0.1rem;
          margin-right: 0.25rem;
          img {
            /* width: 100%; */
            /* height: 100%; */
            /* width: 80%; */
            height: 80%;
            object-fit: cover;
          }
        }
        .hot-name {
          /* font-size: 0.26rem; */
          font-size: 0.28rem;
          font-weight: bold;
          color: #000;
          max-width: 2.2rem;
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          /* word-break: break-all;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1; */
          line-height: 0.32rem;
          /* margin-bottom: 0.15rem; */
          margin-top: 0.15rem;
          /* height: 0.6rem; */
          height: 0.4rem;
        }
        .hot-price {
          margin-bottom: 0.12rem;
          span {
            font-size: 0.2rem;
            color: #ff1f4e;
            &:first-child {
              font-size: 0.28rem;
              font-weight: bold;
              margin-right: 0.1rem;
              max-width: calc(100% - 0.8rem);
              display: inline-block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              vertical-align: middle;
              margin-top: -0.04rem;
            }
          }
        }
        .hot-num {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .hot-join-num {
          /* font-size: 0.2rem; */
          font-size: 0.22rem;
          color: #999;
          /* color: #333; */
        }
        .group {
          display: inline-flex;
          justify-content: center;
          min-width: 0.7rem;
          height: 0.3rem;
          font-size: 0.22rem;
          color: #43F1C9;
          border: 1px solid #43F1C9;
          border-radius: 0.04rem;
        }
      }
    }
  }
}

.span-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: 100%; */
  width: 65%;
  display: inline-block;
}
.banner-swiper {
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      width: 100vw;
      height: calc(100vw * 0.48);
      /* height: 3.35rem; */
      .groupon-img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .swiper-pagination-bullet {
    /* background-color: #fff; */
    /* opacity: 1; */
    /* width: 6px; */
    /* height: 6px; */
    width: 0.16rem;
    height: 0.16rem;
    border: 1px solid #fff;
    background: #fff;
    opacity: 1!important;
    background: transparent;
  }
  .swiper-pagination-bullet-active {
    /* width: 16px; */
    /* background: #ff1f4e; */
    width: 0.16rem;
    height: 0.16rem;
    background: #fff;
    opacity: 1!important;
    border-radius: 5px;
  }
}
.groupon-center {
  #listViewPrt {
    /* max-height: calc(100vh - 3rem); */
    /* height: auto !important; */
    /* overflow-y: auto !important; */
    /* overflow-y: hidden !important; */
    &.list-scroll {
      overflow-y: scroll !important;
      /* padding-top: 100px; */
    }
  }
}
.top-fixed {
  position: fixed;
  top: 48px;
}
