/*tab*/
.hint-box{
  background: #FFFBE4;
  span{
    color: #333;
    font-size:0.26rem;
  }
}
.tag-bar{
  .tag-bar-list{
    .tag-bar-list-item{
      color: #999;
      font-size:0.28rem;
      &.active {
        color: #000;
        font-weight: Bold;
        border-bottom: 0.05rem solid #000;
      }
    }
  }
}
.sales-rank-item{
  &.active {
    .sales-rank-box-img img {
        width: calc(100% - 0.04rem);
        height: calc(100% - 0.04rem);
    }
    .sales-rank-box-bg {
        display: block;
        background: url('../img/rank-bg.png') 0 0 no-repeat;
        background-size: 100% 100%;
    }
    .sales-rank-num {
        color: #ff1f4e;
    }
  /* .rank-bg{
    display: block;
    background: url('../img/rank-Bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
  } */  
  }
}
