@charset "UTF-8";
@import '../../../wmkit/variable.css';
.sharingLayer {
  text-align: center;
  .title {
    padding: 0.3rem 0;
  }
  .price {
    font-size: 0.32rem;
  }
  .infoText {
    padding: 0 0.2rem;
    margin-top: 0.3rem;
    color: #000;
    font-size: 0.24rem;
  }
  .checkText{
    display: flex;
    padding: 0.3rem 0;
    align-items: center;
    justify-content: center;
  }
  .share-btn-pro{
    height: 1rem;
    line-height: 1rem;
    color: #333;
    font-size: 0.32rem;
  }
}
.icon-content {
  padding: 0.3rem 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  .icon {
    width: 25%;
    color: #333;
    font-size: 0.24rem;
    img {
      width: 1rem;
      height: 1rem;
      margin-bottom: 0.15rem;
    }
  }
}
