@import '../../../../web_modules/wmkit/variable.css';

:local(.menuBar) {
  height: 40px;
  .item {
    color: #666;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      font-size: 0.24rem;
      margin-right: 5px;
    }
    i {
      font-size: 0.24rem;
      color: #6b6b6b;
    }
  }
}

:local(.menuContent) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ebebeb;
  padding: 0 40px;
  background: #fff;
  position: fixed !important;
  left: 0;
  top: 48px;
  width: 100%;
  height: 40px;
  z-index: 999;
}

:local(.item) {
  width: 30%;
  background: #fafafa;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #333333;
  font-size: 0.24rem;
  margin-right: 3%;
  margin-bottom: 5px;
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid transparent;
}

/*商品筛选*/
:local(.selected) {
  width: 30%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff !important;
  margin-right: 3%;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* border-radius: 0.1rem ; */
  background:linear-gradient(to right,#FF6A4D,#FF1A1A);
}
/* .filter-box .filter-sort span::{
  color: #fff;
  border-radius: 0.1rem ;
  background:linear-gradient(to right,#FF6A4D,#FF1A1A);
} */
.filter-box {
  .filter-btn{
    img{
      justify-content: center;
      align-items: center;
      width:2.5rem;
    }
  }
}
  /* tab */
.comment{
  font-size: 0.28rem !important;
  color:#333;
}
.comment-img{
  width:0.23rem;
  margin-left:0.1rem;
  color: #333;
}
.tab-text{
  font-size: 0.28rem !important;
  color:#FF4D4D !important;
}
.tab-text-img{
  width:0.23rem;
    /* height:0.25rem; */
  margin-left:0.1rem;
  color: #FF4D4D;
}
.sort-item i{
  margin: 0 -5px;
}
/*商品*/

.goods-list {
  display: flex;
  align-items: center;
  padding: 0;
  .img-box {
    align-items: center;

    /* transform:scale(1.1,1.1); */
    margin:0.15rem 0.2rem 0.2rem 0.3rem;
  }
  .bottom {
    &-price{
      margin-bottom: 0.15rem;
    }
    .social-btn-box{
      margin-bottom: 0.15rem;
    }
    .social-btn-box img{
      margin-top: .1rem;
      width: 1.25rem;
    }  
  } 
}
  

