@import '../../../web_modules/wmkit/variable.css';

/* 店铺首页 */

.store-search {
    height: 90px;
    background: url('../img/bg.png') no-repeat;
    background-size: cover;
    .search-box {
        background: transparent;
        .input-box {
            background-color: #fff;
        }
    }
    .list-tab {
        i {
            color: #fff;
        }
        img {
            width: .28rem;
            height: .26rem;
        }
        span {
            color: #fff;
        }
    }
}

.store-logo {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -40px;
    margin-left: 9px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #ffffff;
    img {
        width: 100%;
    }
}

.store-head-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 8px 0;
    margin-top: -15px;
    &>div {
        overflow: hidden;
        max-width: calc(100vw - 50px);
        white-space: nowrap;
        text-overflow: ellipsis;
        .left-span {
            color: #000;
            font-size: 0.32rem;
            padding: 0;
            margin-left: 10px;
        }
        .right-span {
            color: #999;
            font-size: 0.24rem;
            /* margin-left: 0.1rem; */
        }
    }
}

.store-like {
    color: $theme-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 33px;
    min-width: 50px;
    .icon-guanzhu1 {
        color: $new-theme-color;
        &~span {
            color: $new-theme-color;
        }
    }
    span {
        font-size: 0.24rem;
        transform: scale(0.8);
    }
}

.store-new-title {
    background: #fafafa;
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 0.28rem;
    font-weight: 600;
    padding-left: 10px;
}

.store-foot {
    height: 47px;
    .store-foot-content {
        height: 46px;
        padding: 8px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        a {
            font-size: 0.26rem;
            height: 35px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex: 1;
            color: #555;
            &.cur {
                color: #555;
            }
            span {
                margin-left: 6px;
            }
            i {
                color: #333;
                font-size: 0.36rem;
                margin-top: -2px;
            }
            img {
                width: 18.02px;
                height: 18.67px;
            }
        }
    }
}

.store-content {
    height: calc(100vh - 189px);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: #fafafa;
}

.ziyingimg {
    width: .6rem;
    height: 0.3rem;
    margin: 0 0.2rem -.03rem;
}


/*https://ayogo.com/blog/ios11-viewport/ 使用 @supports 隔离兼容样式 网页适配 iPhoneX XR XS等*/

@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
    .store-foot {
        height: calc(47px + constant(safe-area-inset-bottom));
        height: calc(47px + env(safe-area-inset-bottom));
        padding-bottom: calc(0.96rem + constant(safe-area-inset-bottom));
        padding-bottom: calc(0.96rem + env(safe-area-inset-bottom));
        .store-foot-content {
            bottom: constant(safe-area-inset-bottom);
            bottom: env(safe-area-inset-bottom);
        }
    }
}