.successful {
  width: 100%;
  overflow: hidden;
  background: #fff;
  .succes-div {
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .succes-img {
      width: 4rem;
      height: 3.89rem;
    }
    .title {
      font-size: 0.3rem;
      color: #333;
      font-weight: 400;
      margin-top: 0.6rem;
      margin-bottom: 0.2rem;
    }
    .text {
      font-size: 0.26rem;
      color: #939495;
      font-weight: 400;
      margin-bottom: 2.3rem;
    }
    .btn-bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 0.36rem;
      position: fixed;
      bottom: 0.36rem;
      .left-btn {
        width: 3.06rem;
        height: 0.9rem;
        line-height: 0.9rem;
        text-align: center;
        font-size: 0.32rem;
        color: #000;
        font-weight: 400;
        border: 0.02rem solid #000;
      }
      .right-btn {
        width: 3.06rem;
        height: 0.9rem;
        line-height: 0.9rem;
        text-align: center;
        font-size: 0.32rem;
        color: #000;
        font-weight: 400;
        border: 0.02rem solid #000;
      }
    }
  }
}
