.equity-main {
  width: 100%;
  overflow: hidden;
  background: #fafafa;
}
.carousel-box {
  position: fixed;
  width: 100%;
  .carousel-head {
    width: 100%;
    height: 2.45rem;
    padding: 0.25rem 0 0.34rem 0;
    border-bottom: 1px solid #ebebeb;
    background: url('../../../../web_modules/images/user-bg.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .swiper-container {
      background: none;
    }
  }
  .carousel-bottom {
    width: 100%;
    height: 1.1rem;
    background: url('../img/bg-white.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .current-grade {
      font-size: 0.28rem;
      color: #333;
      display: block;
      text-align: center;
      margin-bottom: 0.1rem;
      .red-font {
        font-size: 0.28rem;
        color: #ff1f4e;
      }
    }
    .next-grade {
      font-size: 0.24rem;
      color: #333;
      display: block;
      text-align: center;
      .red-font {
        font-size: 0.24rem;
        color: #ff1f4e;
      }
    }
  }
}

.equity-container {
  width: 100%;
}
.equity-wrapper {
  width: 1.6rem;
  height: 1.6rem;
}

.equity-slide {
  height: 1.6rem;
  text-align: center;
  font-size: 0.18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-box {
  width: 1.36rem;
  height: 1.36rem;
  transition: all 0.5s ease-out;
  background: #e0b767;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border-radius: 100%;
  img {
    width: 0.56rem;
    height: 0.56rem;
    object-fit: contain;
    margin-bottom: 0.15rem;
  }
  span {
    font-size: 0.21rem;
    color: #fff;
    transform: scale(0.83);
    white-space: nowrap;
    width: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.select-div-box {
  width: 1.6rem;
  height: 1.6rem;
  opacity: 1;
  border: 0.05rem solid #fd6375;
}

.equity-list {
  width: 100%;
  overflow: hidden;
  margin-top: 3.75rem;
  background: #fff;
  li {
    border-bottom: 1px solid #ebebeb;
    padding: 0.3rem 0.37rem 0.37rem;
    .up-div {
      display: flex;
      align-items: center;
      margin-bottom: 0.22rem;
      .left-icon {
        width: 0.48rem;
        height: 0.48rem;
        object-fit: contain;
        margin-right: 0.1rem;
      }
      .right-title {
        font-size: 0.28rem;
        color: #000;
      }
    }
    .down-text {
      font-size: 0.24rem;
      color: #333;
      line-height: 0.4rem;
    }
  }
}
