.evaluate-drying {
  background: #fafafa;
  margin-bottom: 1.15rem;

  .down-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0.23rem 0.1rem;
    border-bottom: 1px solid #ebebeb;
    .eval-title {
      font-size: 0.26rem;
      color: #000;
    }
    .eval-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.12rem;
      .left-eval-text {
        font-size: 0.28rem;
        color: #000;
      }
    }
  }

  .eval-drying-score {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.19rem;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    .score-img {
      width: 1.1rem;
      height: 1.1rem;
      border: 1px solid #ebebeb;
      margin-right: 0.2rem;
    }
    .right-score {
      display: flex;
      flex-direction: column;
      .score {
        font-size: 0.28rem;
        color: #000;
        margin-bottom: 0.2rem;
      }
      .name-time {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .left-span {
          width: 2.5rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .eval-drying-Anony {
    padding: 0 0.2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    margin-bottom: 0.2rem;
    .eval-explain {
      font-size: 0.26rem;
      color: #333;
      margin-top: 0.26rem;
      margin-bottom: 0.2rem;
    }
    .writing-eval {
      overflow: hidden;
      border-bottom: 1px solid #ebebeb;
      .current-text {
        height: 2.7rem;
        text-align: left;
        padding-top: 0.23rem;
      }
    }
    .evaluate-check {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-top: 1px solid #ebebeb;
      padding: 0.36rem 0;
      .check-name {
        font-size: 0.28rem;
        color: #000;
        margin-left: 0.2rem;
      }
    }
    .count-p {
      text-align: right;
      color: #939495;
      font-size: 0.28rem;
    }
    .file-tips {
      margin: 0 0 8px;
    }
  }

  .store-message {
    display: flex;
    flex-direction: column;
    background: #fff;
    .up-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.2rem 0.23rem;
      border-bottom: 1px solid #ebebeb;
      .left-pointer {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 100%;
        border: 1px solid #ebebeb;
        margin-right: 0.26rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .right-title {
        font-size: 0.26rem;
        color: #000;
      }
    }
    .down-content {
      display: flex;
      flex-direction: column;
      padding: 0.4rem 0.23rem 0.1rem;
      .eval-title {
        font-size: 0.26rem;
        color: #000;
        margin-bottom: 0.2rem;
      }
      .eval-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.34rem;
        .left-eval-text {
          font-size: 0.28rem;
          color: #000;
        }
      }
    }
  }
}
