
.mail-list{
  background: #fff;
  display:flex;
  border: 1px solid #ebebeb;
  font-size: 0.28rem;
  color: #000;
  font-weight: bold;
  border-radius: 0.1rem;
  padding: 0.3rem 0.2rem;
  flex-direction: row;
  position: relative;
  margin: 0.2rem;
  p{
    align-items: center;
  }
}
.btn-img{
  min-width: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img{
    width:0.3rem;
    height: 100%;
  }
}
.grey-tips{
  background: #fafafa;
  color: #999;
  font-size: 0.25rem;
  margin: 0.2rem;
}