.cash-detail {
    width: 100%;
    overflow: hidden;
    .detail-list {
        width: 100%;
        height: calc(100vh);
        background: #fafafa;
        .account-div {
            background: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2rem 14px;
            border-bottom: 1px solid #ebebeb;
            .left-title {
                font-size: 0.28rem;
                color: #000;
            }
            .right-account {
                display: flex;
                align-items: center;
                .name {
                    font-size: 0.28rem;
                    color: rgba(153, 153, 153, 1);
                }
                .pointer {
                    width: 0.8rem;
                    height: 0.8rem;
                    margin-left: 0.18rem;
                    border-radius: 100%;
                }
            }
        }
        .bottom-div {
            width: 100%;
            background: linear-gradient(135deg, rgba(255, 106, 77, 1), rgba(255, 26, 26, 1));
            /* padding: 0.18rem 0.14rem; */
            display: flex;
            justify-content: center;
            position: fixed;
            bottom: 0;
            .cancel-btn {
                font-size: 0.31rem;
                height: .97rem;
                color: rgba(255, 255, 255, 1);
                /* border: 2px solid #000; */
                line-height: .97rem;
                /* padding: 0.145rem 0.38rem 0.125rem; */
            }
        }
    }
    .black-layer {
        width: 100%;
        height: calc(100vh);
        background: rgba(000, 000, 000, 0.5);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        .white-layer {
            width: 6.66rem;
            background: #fff;
            .payment-title {
                font-size: 0.36rem;
                font-weight: 400;
                color: #333;
                display: block;
                width: 100%;
                text-align: center;
                line-height: 1.2rem;
            }
            .down-btn {
                display: flex;
                border-top: 0.01rem solid #f3f3f3;
                .cancel-btn {
                    width: calc(50vw - 0.01rem);
                    line-height: 1rem;
                    border-right: 0.01rem solid #f3f3f3;
                    text-align: center;
                    font-size: 0.32rem;
                    color: #000;
                    font-weight: 400;
                }
                .submit-btn {
                    width: calc(50vw);
                    line-height: 1rem;
                    text-align: center;
                    font-size: 0.32rem;
                    color: #ff1f4e;
                    font-weight: 400;
                }
            }
        }
    }
}