<!doctype html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width,viewport-fit=cover">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,viewport-fit=cover" media="(device-height: 568px)">
    <link rel="stylesheet" href="/iconfont.css" />
    <link id="icoLink" rel="shortcut icon" href="" type="image/x-icon">
</head>

<body style="background-color: #ffffff;">
    <div id="app"></div>
    <% if (htmlWebpackPlugin.options.env) { %>
        <script src="/webpack-dev-server.js"></script>
        <% } else {%>
            <script src="/vendor.dll.js"></script>
            <% } %>
                <script>
                    var _hmt = _hmt || [];
                    (function() {
                        var hm = document.createElement("script");
                        hm.src = "https://hm.baidu.com/hm.js?b2732710a444d0093264a6ed5811a3a4";
                        var s = document.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(hm, s);
                    })();
                </script>
</body>

</html>