@import '../../../web_modules/wmkit/variable.css';
:local(.menuBar) {
    height: 40px;
    .item {
        color: #666;
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
            font-size: 0.28rem;
            margin-right: 5px;
        }
        i {
            font-size: 0.24rem;
            color: #6b6b6b;
        }
    }
}

:local(.menuContent) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ebebeb;
    padding: 0 40px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 48px;
    width: 100%;
    height: 40px;
    z-index: 999;
}

:local(.item) {
    width: 30%;
    background: #fafafa;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #333333;
    font-size: 0.24rem;
    margin-right: 3%;
    margin-bottom: 5px;
    margin-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid transparent;
}