@import '../../../web_modules/wmkit/variable.css';
:local(.editHead) {
  height: 40px;
  /* border-bottom: 1px solid #ebebeb; */
  padding: 0 10px;
  background: #fafafa;
  color: #333;
  font-size: .28rem;
  line-height: 0.8rem;
  span {
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 9;
  }
}

:local(.myStore) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-store {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border-top: 1px solid #ebebeb; */
  /* border-bottom: 1px solid #ebebeb; */
  margin-top: -1px;
  padding: 8px;
  .goods-list {
    border: none;
    padding: 0;
  }
}
.self-sale-img{
  img{
    min-width: 0.64rem;
    transform-origin: left center;
    width: 0.64rem;
  }
  
}
.col-goods-info{
  fontWeight:bold;
  color:#333;
  font-size:0.26rem;
}