@import '../../../web_modules/wmkit/variable.css';
:local(.menuBar) {
    /* height: 1rem; */
    .item {
        color: #666;
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
            font-size: 0.28rem;
            margin-right: 5px;
        }
        i {
            font-size: 0.24rem;
            color: #6b6b6b;
        }
    }
}

:local(.menuContent) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ebebeb;
    padding: 0 40px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 48px;
    width: 100%;
    height: 40px;
    z-index: 999;
}

:local(.item) {
    width: 30%;
    background: #fafafa;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #333333;
    font-size: 0.24rem;
    margin-right: 3%;
    margin-bottom: 5px;
    margin-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid transparent;
}

.x {
    display: flex;
    flex-direction: row-reverse;
    /* margin-right: .2rem; */
    /* border-bottom: 1px solid; */
    padding-right: .2rem;
    font-size: 28px;
    font-family: PingFang SC;
    /* font-weight: bold; */
    color: rgba(34, 34, 34, 1);
    font-weight: 500;
}


/*商品筛选*/

:local(.selected) {
    width: 30%;
    height: 35px;
    line-height: 35px;
    font-size: 0.26rem;
    text-align: center;
    color: #fff !important;
    margin-right: 3%;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* border-radius: 0.1rem ; */
    background: linear-gradient(to right, #FF6A4D, #FF1A1A);
}

.bottom-list {
    .bottom-price-list {
        /* margin-bottom: .1rem; */
        .gray-price {
            color: #999;
        }
    }
    .qHuo img {
        /* padding-top: 0.2rem;   */
        margin-top: 0.1rem;
        /* margin-bottom: 0.1rem; */
        width: 1rem;
        margin-right: 0.15rem;
    }
    .social-btn-box img {
        /* padding-top: 0.2rem;   */
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        width: 1.25rem;
        margin-right: 0.15rem;
    }
}

.filter-btn1 {
    img {
        justify-content: center;
        align-items: center;
        width: 2.5rem;
    }
}

.line-before::before {
    border: none;
}

.motaikuan {
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.mini-height {
    height: 700px;
}

.select-item-change {
    position: relative;
    background-color: #fff !important;
    border: 1px solid $new-theme-color !important;
    i {
        position: absolute;
        right: -1px;
        bottom: -12px;
        color: $new-theme-color;
        z-index: 1;
        font-size: 0.28rem;
    }
}