@import '../../../../web_modules/wmkit/variable.css';
.bags-container {
    /* height: calc((100vw - 0.4rem) * 0.408 + 0.4rem); */
    height: 9.4rem;
}

.bags {
    border-bottom: 1px solid #ebebeb;
    padding: 0.2rem;
    width: 100%;
    background-color: #ffffff;
    .bags-bg {
        background: no-repeat center center;
        background-size: cover;
        width: 100%;
        /* height: calc((100vw - 0.4rem) * 0.408); */
        height: 9rem;
        color: #fff;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-size: 0.4rem;
    }
    .infoText {
        margin-top: 0.5rem;
        font-size: 0.28rem;
    }
    .infoBox {
        font-size: 0.24rem;
        color: #fff;
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
    }
}

.bags-list {
    /*overflow-y: auto;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*height: calc(100vh - ((100vw - 0.4rem) * 0.408 + 0.4rem));*/
    .title {
        padding: 0.3rem 0;
        font-size: 0.28rem;
        color: #000;
        text-align: center;
    }
}

.bags-item {
    padding: 0.2rem;
    padding-right: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    .bags-box {
        background-color: #fff;
        width: 50%;
        margin-bottom: 0.15rem;
        margin-right: 0.15rem;
        padding: 0.2rem;
        border: 1px solid #ebebeb;
        &:nth-child(2n) {
            margin-right: -0.15rem;
        }
        .img-box {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
        .bags-title {
            margin-top: 0.2rem;
            width: 100%;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.28rem;
            height: 0.36rem;
            color: #000;
        }
        .bags-spec {
            margin-top: 0.2rem;
            width: 100%;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.21rem;
            height: 0.36rem;
            color: #999;
        }
        .price {
            margin-top: 0.2rem;
            font-size: 0.36rem;
            font-weight: 700;
            display: flex;
            align-items: center;
        }
        &.invalid-goods {
            .bags-title,
            .bags-spec,
            .price {
                color: #bcbcbc !important;
            }
        }
    }
}