.mb10 .form-item{
  display:flex;
  align-items:center;
}
.cardList-goods{
  display: flex;
  flex-direction: row;
  align-items: center;
  &-detail{
    display: flex;
    flex-direction: column;
    color: rgb(102, 102, 102);
    margin-left: 0.2rem;
  }
}