@charset "UTF-8";
@import '../../../wmkit/variable.css';
.graphic-share {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .bottom {
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 0.24rem;
    img {
      margin-bottom: 0.12rem;
      width: 1rem;
      height: 1rem;
    }
  }
  .close {
    position: fixed;
    top: 0.4rem;
    right: 0.4rem;
    .iconfont {
      color: #000;
      font-size: 0.48rem;
    }
  }
  .content {
    padding: 0.6rem 0.6rem;
    text-align: center;
    img {
      vertical-align: middle;
    }
    .w-logo {
      width: 120px;
      height: 40px;
      margin-bottom: 0.3rem;
    }
  }
  .infoBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.3rem;
    text-align: left;
    .left {
      display: flex;
      flex-direction: column;
      padding-right: 0.2rem;
      flex: 1;
    }
    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size: 0.28rem;
      margin-bottom: 0.18rem;
      color: #000;
    }
    .spec {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      font-size: 0.26rem;
      color: #333;
    }
    .code {
      width: 1.6rem;
      min-width: 1.6rem;
    }
    .codeImg {
      width: 1.6rem;
      height: 1.6rem;
    }
    .symbol{
      font-size: 0.3rem;
    }
    .price-box{
      margin-top: 0.15rem;
      margin-bottom: 0.24rem;
    }
    .price{
      font-size: 0.4rem;
    }
    .delPrice{
      margin-left: 0.3rem;
      font-size: 0.26rem;
      color: #999;
      text-decoration: line-through;
    }
    .codeText{
      margin-top: 0.1rem;
    }
  }
}
