@charset "UTF-8";
@import '../../../wmkit/variable.css';

.store-dialog {
  background: #fff;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  img {
    width: 200px;
  }
  h2 {
    color: #000;
    font-size: 0.36rem;
    padding: 15px 0;
    margin: 0;
    font-weight: 400;
  }
  p {
    color: #333;
    margin: 0;
    font-size: 0.3rem;
  }
  a {
    display: block;
    height: 50px;
    border-top: 1px solid #f3f3f3;
    color: $new-theme-color;
    font-size: 0.32rem;
    line-height: 50px;
    margin-top: 28px;
  }
}
