@import '../../../web_modules/wmkit/variable.css';
.center-img {
  > div.am-wingblank {
    margin-left: 0;
    margin-right: 0;
  }
}
/* 头部 */
.evaluate-header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
  top: 0;
  overflow-x: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  height: 0.7rem;
  border-bottom: 1px solid #e1e1e1;
  .fontColor {
    color: #333;
  }
}
/* 底部 */
.detail-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 0.94rem;
  border-top: 1px solid #e1e1e1;
  background: #fff;
  z-index: 999;
  .detail-bottom-bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: calc(0.94rem - 1px);
  }
}
.bar-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: #999;
  i {
    font-size: 0.44rem;
    color: #000;
  }
  span {
    font-size: 0.26rem;
    padding-left: 0.06rem;
    color: #333;
    &.red {
      color: $price-color;
    }
  }
}
.cart-content {
  position: relative;
  display: flex;
  .num-tips {
    position: absolute;
    top: -0.1rem;
    right: -0.16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.36rem;
    height: 0.36rem;
    background-color: $price-color;
    color: #fff;
    font-size: 0.24rem;
    border-radius: 50%;
  }
}

/* 查看大图 */
.big-picture {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  .up-black-bj {
    width: 100%;
    height: 2.6rem;
    background: #000;
  }
  .center-img {
    width: 100%;
    height: 7.5rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .down-content {
    width: 100%;
    height: calc(100vh - 10.1rem);
    background: #000;
    padding: 0.3rem 0.25rem 0;
    .specific {
      font-size: 0.24rem;
      color: #999;
      display: block;
      margin-top: 0.125rem;
      margin-bottom: 0.1rem;
    }
    .introduce {
      font-size: 0.24rem;
      color: #fff;
      display: block;
      line-height: 0.36rem;
      display: inline-block;
      max-height: 1rem;
      overflow-y: scroll;
    }
  }
  .bottom-innocuo {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
    .left-innocuo {
      display: flex;
      flex-direction: row;
      align-items: center;
      i {
        color: #fff;
      }
      span {
        font-size: 0.28rem;
        color: #fff;
        margin-left: 0.15rem;
      }
    }
    .right-innocuo {
      display: flex;
      flex-direction: row;
      margin-left: 1rem;
      i {
        color: #fff;
      }
      span {
        font-size: 0.28rem;
        color: #fff;
        margin-left: 0.15rem;
      }
    }
  }
}

.red-color {
  color: red !important;
}
/* 空白 */
.list-none p{
  width: 60%;
  text-align: center;
}
