.invitercode {
    display: flex;
    flex-direction: row-reverse;
    margin-top: .1rem;
}

.myOtherAccount {
    right: .3rem;
    position: absolute;
}

.myDetail {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 42px;
}

.tip-text {
    margin: .4rem .47rem;
    color: #999;
}

.text-label {
    display: flex;
    width: 5.29rem;
    .text-title {
        /* width: 2rem; */
        margin-right: .2rem;
    }
}