@import '../../../web_modules/wmkit/variable.css';
.main-search {
    position: fixed;
    padding: 0.15rem 0.2rem 0.15rem 0.25rem;
    left: 0px;
    top: 0px;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    &-link {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 0.56rem;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0.05rem;
        padding-left: 0.18rem;
        padding-right: 0.18rem;
        i {
            font-size: 0.4rem;
            color: #939495;
        }
        input {
            text-align: center;
            height: 0.56rem;
            width: 100%;
            margin-left: -0.6rem;
            background: transparent;
            font-size: 0.28rem;
            color: rgb(147, 148, 149);
        }
    }
    .searchbutton {
        display: flex;
        justify-content: space-around;
        width: 20%;
        img {
            height: 0.4rem;
        }
    }
    .main-shop-name {
        max-width: 1.84rem;
        height: 0.55rem;
        line-height: 0.55rem;
        padding: 0.02rem 0.2rem 0 0.2rem;
        margin-right: 0.2rem;
        font-size: 0.24rem;
        transform: scale(0.83);
        color: #fff;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 0.55rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.main-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    a {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        span {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: #6bc6ed;
            text-align: center;
            line-height: 35px;
            margin-right: 6px;
            &.red {
                background: #ea697b;
            }
        }
        .icon {
            font-size: 0.36rem;
            color: #fff;
            font-weight: bold;
        }
        .title {
            color: #333;
            font-size: 0.26rem;
            margin: 0;
            padding-bottom: 5px;
        }
        .det {
            font-size: 0.24rem;
            color: #9a9b9c;
            margin: 0px;
            padding: 0px;
        }
    }
}

.middle-line {
    height: 27px;
    width: 1px;
    background: rgb(235, 235, 235);
}

.mian-kefu {
    margin-left: 10px
}

.jumpMain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
    z-index: 9999;
    img {
        width: 100%;
        height: 100%;
    }
    & .jumpDiv {
        position: absolute;
        top: .6rem;
        right: .43rem;
        & .jump {
            width: 1.6rem;
            height: .6rem;
            background: rgba(255, 255, 255, 1);
            border: 2px solid rgba(230, 230, 230, 1);
            border-radius: .29rem;
            font-size: .26rem;
            color: #999999;
            font-family: PingFang SC;
            span {
                color: #FF1A1A
            }
        }
    }
}

.guanggao {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999;
    .xx {
        border: 1px solid #fff;
        color: #fff;
        border-radius: 50%;
        width: .5rem;
        height: .5rem;
        text-align: center;
        line-height: .5rem;
        margin-top: .2rem
    }
    img {
        width: 5.9rem;
        height: 7.66rem;
        border-radius: .4rem;
    }
}