@import '../../../web_modules/wmkit/variable.css';

.address-box {
  background: #fff;
  border-top: 1px solid #ebebeb;
  margin-bottom: 12px;
}

.address-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 18px;
  padding: 10px 0;
  border-bottom: 1px solid #ebebeb;
  color: #333333;
  font-size: .28rem;
}

.address-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .name{
    color: #000;
    font-weight: bold;
  }
  .phone{
    color: #999;
    font-size: 0.26rem;
  }
}

.address-detail {
  padding-top: 10px;
  line-height: 150%;
  padding-bottom: 5px;
  font-size: 0.26rem;
  color: #333;
}

.address-operate {
  color: #939495;
  font-size: .26rem;
  padding: 12px 18px;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .delete,.edit {
    color: $theme-color;
    font-size: 0.4rem;
  }
}

.address-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  span {
    margin-left: 5px;
  }
}

.address-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  .edit-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .26rem;
    color : #939495;
    span {
      margin-left: 5px;
    }
  }
}

.small-tips {
  color: #939495;
  font-size: .24rem;
  padding: 16px 10px;
  padding-top: 6px;
}

.receive-btn {
  width: 100%!important;
  position: fixed!important;
}
