@import '../../../web_modules/wmkit/variable.css';
:local(.wrap) {
    border-bottom: 1px solid #ebebeb;
    padding-left: 15px;
    background: #fff;
    h4 {
        font-size: 0.28rem;
        color: #333;
        font-weight: 400;
        margin: 0;
        padding: 0;
        margin-top: 15px;
    }
}

.pay-delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 12px 10px;
    padding-left: 14px;
    border-bottom: 1px solid #ebebeb;
    color: #333333;
    font-size: 0.28rem;
    .ways-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #333;
        p {
            line-height: 24px;
            margin-right: 5px;
        }
    }
}

.integralBox {
    word-break: break-word;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
    margin: 6px -14px;
    padding: 8px 14px 0;
    .integralItem {
        color: #333;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    >p {
        margin-top: 5px;
        color: #333;
    }
    .integral-input {
        width: 2.1rem;
        height: 0.7rem;
        line-height: 0.7rem;
        /* border-bottom: 1px solid #ebebeb; */
        margin: 0 0.1rem;
        /* background-color: #fafafa; */
        color: #333;
        text-indent: 0.3rem;
        border: 1px solid #ececec;
    }
    .gray-bg {
        margin: 8px -14px 0;
        height: 10px;
        background-color: #fafafa;
        border-top: 1px solid #ebebeb;
    }
}

.left-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-box {
    border: 1px solid rgba(155, 149, 148, 0);
    box-shadow: 1px 2px 7px 0px rgba(4, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    z-index: 9999;
    .address-context {
        z-index: 1;
        /* border: 1px solid rgba(4, 0, 0, 0.1); */
        border-radius: 10px 10px 0 0;
    }
    .address-line {
        margin-bottom: -5px;
        width: 100%;
        border: 1px solid rgba(4, 0, 0, 0.1);
        border-radius: 0 0 10px 10px;
    }
}

.cardList-goods {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-detail {
        display: flex;
        flex-direction: column;
        color: rgb(102, 102, 102);
        font-size: 0.26rem;
        margin-left: 0.2rem;
    }
}

.total-list {
    padding-top: 0.15rem;
}