/* 无数据 */
.not-data {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .not-img {
    width: 4rem;
    height: 3.89rem;
    margin-top: 1.59rem;
  }
  .not-text1 {
    font-size: 0.3rem;
    color: #615f60;
    margin: 0.65rem 0 0.35rem;
  }
  .not-text2 {
    font-size: 0.48rem;
    color: #615f60;
  }
}
