    @import '../../../web_modules/wmkit/variable.css';
     :local(.wrap) {
        border-bottom: 1px solid #ebebeb;
        padding-left: 15px;
        background: #fff;
        h4 {
            font-size: 0.28rem;
            color: #333;
            font-weight: 400;
            margin: 0;
            padding: 0;
            margin-top: 15px;
        }
    }
    
    .pay-delivery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        margin: 0px -14px;
        padding: 0px 14px 14px 14px;
        border-bottom: 1px solid #ebebeb;
        color: #333333;
        font-size: 0.28rem;
        .ways-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #333;
            p {
                line-height: 24px;
                margin-right: 5px;
            }
        }
    }
    
    .integralBox {
        word-break: break-word;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        background-color: #fff;
        margin: 6px -14px;
        padding: 8px 14px 0;
        .integralItem {
            color: #333;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        >p {
            /* margin-top: 5px; */
            color: #333;
            padding: 0.15rem 0;
        }
        .integral-input {
            width: 2.1rem;
            /* height: 0.7rem; */
            height: 0.6rem;
            line-height: 0.7rem;
            margin: 0 0.1rem;
            color: #333;
            text-indent: 0.3rem;
            border: 1px solid #ececec;
        }
        .gray-bg {
            margin: 8px -14px 0;
            height: 10px;
            background-color: #fafafa;
            border-top: 1px solid #ebebeb;
        }
    }
    
    .left-box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .card-box {
        border-radius: 10px;
        border: 1px solid rgb#FAFAFA;
        margin: 10px;
    }
    
    .tool-bar-foot {
        justify-content: space-between;
        p {
            margin-left: 10px;
        }
        button {
            background: linear-gradient(135deg, #FF6A4D, #FF1A1A);
        }
    }
    .span-word .form-item{
      display:flex;
      align-items:center;
    }
    .cardList-goods{
      display: flex;
      flex-direction: row;
      align-items: center;
      &-detail{
        display: flex;
        flex-direction: column;
        color: rgb(102, 102, 102);
        font-size:0.26rem;
        margin-left: 0.2rem;
      }
    }
    .total-list{
      padding-top: 0.15rem;
    }