.logo {
    width: 100%;
    text-align: center;
    margin-top: 0.44rem;
    margin-bottom: 1.2rem;
    /* height: 35px; */
}

.logoImg {
    /* height: 35px; */
    width: 1.65rem;
    height: 1.65rem;
    background: rgba(216, 226, 240, 1);
    /* box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.17); */
    box-shadow: none;
}

.register-btn {
    text-align: center;
    width: 4.6rem;
    position: relative;
    /* width: 100%; */
    z-index: 99;
    margin: 1rem auto auto;
    padding: 0.4rem 0.1rem 0.33rem;
}

.register-box {
    padding-bottom: 0;
    width: 77%;
    margin: 0 auto
}

.register-tips {
    text-align: center;
    padding-top: 0
}

.register-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}


.inputBox {
    border-bottom: 1px solid rgb(229, 229, 229);
    /* height: 35px; */
    height: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    padding-right: 15px;
    flex: 1;


    font-family: PingFang SC;
    font-weight: 500;
    color: #999;

    &.eyes-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;

        img {
            margin-left: 0.2rem;
            width: .3rem;
            height: .33rem;
        }
    }
}


.formInput {
    font-size: 0.28rem;
    line-height: 0.4rem;
    margin-left: 0.2rem;
  
    &.sendCodeInput {
      width: 55%;
    }
  }
  