/* 覆盖本来的头部top举例 */
.layout-top {
  &.next-top {
    top: 1rem;
  }
}
/* 头部 */
.points-order-header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
  top: 0;
  overflow-x: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background: url('../../../web_modules/images/user-bg.png') no-repeat;
  height: 1rem;
}
.good-content{
  position: relative;
  height: 1.5rem;
}
.goodPrice{
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px;
  text-align: center;
}
.goodPrice p {
}
.right-good-group{
  position: relative;
  left: 2.5rem;
  top: -1.7rem;
  width: 5rem;
}
.good-date{
  font-size: 0.2rem;
  padding-top: 8px;
  color: #999;
}