/* 底部 */
.member-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 0.96rem;
  background: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  .footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .text {
      font-size: 0.24rem;
      color: #939495;
      margin-left: 0.17rem;
    }
    .text.active {
      color: #cfa864;
    }
    .l-icon1 {
      width: 0.3rem;
      height: 0.33rem;
      background: url('../img/hyzx2.png') no-repeat;
      background-size: 0.3rem 0.33rem;
    }
    .l-icon1.active {
      background: url('../img/hyzx.png') no-repeat;
      background-size: 0.3rem 0.33rem;
    }
    .l-icon2 {
      width: 0.32rem;
      height: 0.32rem;
      background: url('../img/jfsc2.png') no-repeat;
      background-size: 0.32rem 0.32rem;
    }
    .l-icon2.active {
      background: url('../img/jfsc.png') no-repeat;
      background-size: 0.32rem 0.32rem;
    }
    .l-icon3 {
      width: 0.38rem;
      height: 0.35rem;
      background: url('../img/sc2.png') no-repeat;
      background-size: 0.38rem 0.35rem;
    }
    .l-icon3.active {
      background: url('../img/sc.png') no-repeat;
      background-size: 0.38rem 0.35rem;
    }
  }
}
