@import '../../../web_modules/wmkit/variable.css';

.logistics-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  span {
    padding: 6px 10px;
    border: 1px solid $theme-color;
    color: $theme-color;
    font-size: .24rem;
  }
  input{
    display: flex;
    flex: 1;
    font-size: .28rem;
    color: #333;
    margin-right: 20px;
  }
}

.logistic-select {
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
  span {
    color: #333;
    font-size: .28rem;
  }
}
