    @import '../../../web_modules/wmkit/variable.css';
    .user-center-top {
        width: 100%;
        height: 3.8rem;
        background: url('../img/store-bg.png') 0 0 no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        position: relative;
        &.use-top-fixed {
            position: fixed;
            z-index: 999;
            align-items: center;
        }
        .user-box {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            margin-right: 0.3rem;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
        .box {
            position: absolute;
            top: 0.8rem;
            padding: 0 0.3rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #ffffff;
        }
        .member-box {
            padding-bottom: 0.6rem;
        }
        .account {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 7.1rem;
            height: 1.8rem;
            background: url('../component/img/account-bg.png') no-repeat;
            background-size: contain;
            position: absolute;
            bottom: -0.4rem;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 0.4rem;
            .left {
                /* width: 50%; */
                flex-grow: 2;
                display: flex;
                flex-direction: column;
                height: 1.1rem;
                /* justify-content: space-between; */
                .left-money {
                    display: flex;
                    align-items: center;
                }
            }
            .withdraw {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.5rem;
                height: 0.48rem;
                /* background: linear-gradient(90deg, rgba(245, 192, 93, 1) 0%, rgba(244, 206, 139, 1) 100%); */
                border-radius: 0.24rem;
                color: #1D1409;
                font-size: 0.23rem;
                i {
                    font-size: 0.23rem;
                    color: #1D1409;
                    transform: rotate(180deg);
                }
            }
        }
        .growthValue {
            position: absolute;
            right: 0;
            top: 30%;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            align-items: flex-end;
            justify-content: space-between;
            height: 1rem;
            font-size: 0.24rem;
            color: #B37400;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FFF0D6;
                min-width: 2rem;
                padding: 0 0.1rem;
                height: 0.44rem;
                border-radius: 0.22rem 0 0 0.22rem;
            }
            i {
                transform: rotate(180deg);
                font-size: 0.24rem;
                margin-left: 0.2rem;
            }
        }
        .back-store {
            position: absolute;
            right: 0.1rem;
            top: 0.81rem;
            padding: 0.13rem 0.3rem 0.1rem;
            background: #b91131;
            font-size: 0.24rem;
            color: #fff;
            text-align: center;
            transform: scale(0.833);
            border-radius: 0.35rem;
        }
    }
    
    .user-context {
        .name {
            font-size: 0.36rem;
            display: flex;
            align-items: center;
            color: #000;
            font-weight: bold;
            .levelText {
                font-size: 0.24rem;
                height: 0.36rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0.1rem;
                background-color: #b20e2e;
                border-radius: 0.18rem;
                padding: 0 0.15rem;
                line-height: 0.36rem;
                color: #e4c137;
                >img {
                    display: block;
                    width: 12px;
                    height: 12px;
                }
                span {
                    font-size: 0.24rem;
                    margin-left: 0.05rem;
                    display: block;
                    /* transform: scale(0.8333); */
                    /* transform-origin: left center; */
                }
            }
        }
        .number {
            color: #fff;
            font-size: 0.24rem;
            opacity: 0.7;
            padding-top: 8px;
        }
        .pointsValue {
            margin-top: 0.15rem;
            display: inline-flex;
            align-items: center;
            background-color: rgba(185, 18, 49, 0.5);
            justify-content: center;
            font-size: 0.24rem;
            padding: 0 0.15rem;
            height: 0.42rem;
            line-height: 0.42rem;
            border-radius: 0.21rem;
            color: #fff;
        }
    }
    
    .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0.3rem;
        .user-box {
            width: 1.2rem;
            height: 1.2rem;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            margin-right: 0;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .storekeeper {
            border-radius: 0.2rem;
            background: linear-gradient(to right, #e8be69, #c9a363);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.36rem;
            padding: 0.07rem 0 0.03rem;
            margin-top: -0.25rem;
            .hg {
                font-size: 0.24rem;
                color: #e4c137;
                margin-right: 0.1rem;
            }
            .gray-hg {
                font-size: 0.24rem;
                color: #b3b3b3;
                margin-right: 0.1rem;
            }
            .name {
                font-size: 0.24rem;
                color: #fff;
                transform: scale(0.83);
            }
            .gray-name {
                font-size: 0.24rem;
                color: #b3b3b3;
                transform: scale(0.83);
            }
        }
    }
    
    .user-context {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        justify-content: space-evenly;
        .name {
            font-size: 0.36rem;
        }
        .number {
            color: #fff;
            font-size: 0.24rem;
            padding: 0px 0px;
            margin: 0.15rem 0 0.12rem;
        }
    }
    
    .tip-text {
        font-size: 0.2rem;
        display: block;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 0.15rem;
        margin-left: 0.15rem;
        margin-top: 30px;
    }
    
    .user-tag {
        background: rgba(255, 255, 255, 0.6);
        display: inline-block;
        padding: 4px 8px;
        border-radius: 4px;
        color: #fffc00;
        font-size: 0.24rem;
    }
    
    .user-order {
        width: 7.1rem;
        margin: 0.2rem auto;
        /* margin-bottom: 8px; */
        background-color: #fff;
        font-size: 0.23rem;
        border-radius: 0.2rem;
        box-shadow: 0 0.06rem 0.2rem 0 rgba(0, 0, 0, 0.04);
        &.my-assets {
            .item {
                i {
                    color: $new-theme-color;
                }
            }
        }
    }
    
    .my-order-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px 5px 15px 14px;
        border-bottom: 1px solid #ebebeb;
        label {
            color: #333;
            font-size: 0.28rem;
            margin: 0px;
            padding: 0px;
        }
        i {
            color: #333;
            font-size: 0.36rem;
        }
    }
    
    .order-status-center {
        align-items: center;
        padding-top: 15px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
        .item {
            text-align: center;
            width: 20%;
            /* float: left; */
            margin-bottom: 20px;
            .icon-box {
                position: relative;
                span {
                    position: absolute;
                    right: -3px;
                    top: -5px;
                    z-index: 9;
                    background: $price-color;
                    color: #fff;
                    font-size: 0.24rem;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    line-height: 18px;
                    border-radius: 50%;
                }
                .iconImg {
                    /* width: 0.6rem; */
                    /* width: 0.5rem; */
                    height: 0.6rem;
                    margin-bottom: 5px;
                }
            }
            i {
                font-size: 0.4rem;
                color: $black-theme-color;
                margin-bottom: 5px;
                display: inline-block;
            }
            p {
                color: #333;
                font-size: 0.26rem;
            }
        }
    }
    
    .new-order-status-center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #ebebeb;
        padding: 10px 0 15px;
        .new-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            .icon-box {
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                margin-bottom: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .red-b {
                background: #fb4066;
            }
            .yellow-b {
                background: #fcba59;
            }
            .green-b {
                background: #3cdea1;
            }
            .blue-b {
                background: #63b9eb;
            }
            .orange-b {
                background: #eec779;
            }
            i {
                font-size: 0.45rem;
                color: #fff;
                display: inline-block;
            }
            p {
                color: #333;
                font-size: 0.28rem;
            }
        }
    }
    
    .order-option {
        border-top: 1px solid #ebebeb;
        background-color: #ffffff;
        .item {
            border-bottom: 1px solid #ebebeb;
            padding: 12px 5px 12px 14px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .icon-item {
                color: #333;
                font-size: 0.45rem;
            }
            span {
                display: flex;
                flex: 1;
                text-align: left;
                color: #333;
                font-size: 0.28rem;
                padding-left: 7px;
            }
            .arrow {
                color: #999;
                font-size: 0.36rem;
            }
        }
    }
    
    .settingBox {
        /* width: 1.6rem; */
        display: flex;
        justify-content: space-between;
        position: absolute;
        padding: 0.2rem;
        top: 0.1rem;
        right: 0.1rem;
        color: #fff;
        i {
            font-size: 0.42rem;
            color: #333;
        }
        .font-4 {
            font-size: 0.4rem;
            margin-left: 0.3rem;
        }
    }
    
    .tip-form {
        height: 180px;
        .head-item {
            text-align: center;
            height: 50px;
            font-size: large;
        }
        .body-item {
            height: 60px;
            color: gray;
        }
        .footer-item {
            height: 40px;
        }
    }
    
    .toolbar {
        width: 7.1rem;
        height: 1.1rem;
        margin: 0.4rem auto;
        display: flex;
        /* justify-content: space-evenly; */
        align-items: center;
        background: #fff;
        border-radius: 0.2rem;
        box-shadow: 0 0.06rem 0.2rem 0 rgba(0, 0, 0, 0.04);
        .toolbar-item {
            width: 33%;
            color: #333;
            font-size: 0.26rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 0.6rem;
            i {
                transform: rotate(180deg);
                margin-left: 0.2rem;
            }
        }
    }
    /* 热销商品 */
    
    .sellwell-goods {
        /* background: #fff; */
        /* margin: 0 0.2rem 0.2rem; */
        /* border-radius: 0.2rem; */
        /* padding: 0 0.2rem; */
        .sellwell-goods-title {
            font-size: 0.28rem;
            color: #333;
            padding: 0.3rem 0;
            /* border-bottom: 1px solid #ebebeb; */
        }
        .sellwell-goods-list-item {
            border-bottom: 1px solid #ebebeb;
            background-color: #ffffff;
            padding: 0.14rem 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            .sellwell-img-box {
                display: block;
                width: 1.8rem;
                height: 1.8rem;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .sellwell-goods-item-right {
                flex: 1;
                padding: 0 .16rem .1rem;
                min-height: 2.16rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: #333;
                font-size: 0.26rem;
                overflow-x: hidden;
                .sellwell-name {
                    -webkit-line-clamp: 2;
                    word-break: break-all;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    /* line-height: 0.35rem; */
                    /* height: 0.68rem; */
                }
                .sellwell-spe {
                    color: #666;
                }
                .sellwell-bottom {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .sellwell-bottom-left {
                        font-size: 0.24rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        flex: 1;
                        span:first-child {
                            color: $price-color;
                            font-size: 0.3rem;
                        }
                    }
                }
                .sellwell-bottom-right {
                    span {
                        font-size: 0.22rem;
                        padding: 0.1rem;
                        border: 1px solid $new-theme-color;
                        border-radius: 3rem;
                        color: $new-theme-color;
                        &.sellwell-share-get {
                            color: #fff;
                            background-color: $new-theme-color;
                            margin-left: 0.2rem;
                        }
                    }
                }
            }
        }
    }
    /*分享*/
    
    .fenxiang-like {
        position: fixed;
        z-index: 99999999;
        /* background: black; */
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .sssimg {
            height: 4.1rem;
            width: 5.1rem;
            background-repeat: round;
            border-radius: 10px 10px 0 0;
        }
        .content-fenxiang {
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            text-align: center;
            /* align-items: center; */
            /* width: 4.5rem; */
            .bottom-price {
                margin: 0.15rem 0 0.15rem 0.15rem;
                text-align: left;
                .price {
                    font-size: 0.37rem;
                }
            }
        }
        .goodsTitle {
            font-size: 0.28rem;
            text-align: left;
            margin: 0 0.2rem 0 0.2rem;
            line-height: 0.45rem;
            color: #444;
        }
        .anniu {
            display: flex;
            justify-content: space-between;
            div img {
                height: .38rem;
                width: 0.43rem;
                margin: 0 0 0.2rem 0;
            }
            img {
                width: 1.4rem;
                height: 1.4rem;
                margin: .2rem;
            }
        }
        .quxiao {
            display: flex;
            justify-content: center;
            .yuanquan {
                margin: .2rem;
                border-radius: 14px;
                border: 1px solid;
                width: .4rem;
                height: .4rem;
                color: #fff;
                text-align: center;
                line-height: .4rem;
                font-size: 0.5rem;
                transform: rotate(45deg) scale(1.3);
            }
        }
    }
    
    .motaikuan {
        z-index: 9999;
        height: 108%;
        width: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .fenxiang {
        position: absolute;
        /* z-index: 99999999; */
        /* background: black; */
        /* background-color: rgba(0, 0, 0, 0.5); */
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .sssimg {
            height: 4.1rem;
            width: 5.1rem;
            background-repeat: round;
            border-radius: 10px 10px 0 0;
        }
        .content-fenxiang {
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            text-align: center;
            /* align-items: center; */
            /* width: 4.5rem; */
            .bottom-price {
                margin: 0.15rem 0 0.15rem 0.15rem;
                text-align: left;
                .price {
                    font-size: 0.37rem;
                }
            }
        }
        .goodsTitle {
            font-size: 0.28rem;
            text-align: left;
            margin: 0 0.2rem 0 0.2rem;
            line-height: 0.45rem;
            color: #444;
            width: 5.1rem;
        }
        .anniu {
            display: flex;
            justify-content: space-between;
            div img {
                height: .38rem;
                width: 0.43rem;
                margin: 0 0 0.2rem 0;
            }
            img {
                width: 1.4rem;
                height: 1.4rem;
                margin: .2rem;
            }
        }
        .quxiao {
            display: -ms-flexbox;
            z-index: 9999;
            display: flex;
            justify-content: center;
            -ms-flex-pack: center;
            background: rgb(255, 255, 255, 1);
            width: 100%;
            position: fixed;
            bottom: 0;
            flex-direction: column;
            text-align: center;
            .yuanquan {
                margin: .2rem;
                border-radius: 14px;
                border: 1px solid;
                width: .4rem;
                height: .4rem;
                color: #fff;
                text-align: center;
                line-height: .4rem;
                font-size: 0.5rem;
                transform: rotate(45deg) scale(1.3);
            }
            .tupian {
                height: 2.46rem;
                display: flex;
                justify-content: space-around;
                .tupiandiv {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                img {
                    margin-bottom: .29rem;
                    width: .79rem;
                    height: .64rem;
                }
            }
            .wenzi {
                border-top: 1px solid;
                height: .9rem;
                line-height: .9rem;
            }
        }
    }
    
    .fenxiang2 {
        position: absolute;
        /* z-index: 99999999; */
        /* background: black; */
        /* background-color: rgba(0, 0, 0, 0.5); */
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .sssimg {
            height: 4.1rem;
            width: 5.1rem;
            background-repeat: round;
            border-radius: 10px 10px 0 0;
        }
        .content-fenxiang {
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            text-align: center;
            /* align-items: center; */
            /* width: 4.5rem; */
            .bottom-price {
                margin: 0.15rem 0 0.15rem 0.15rem;
                text-align: left;
                .price {
                    font-size: 0.37rem;
                }
            }
        }
        .goodsTitle {
            font-size: 0.28rem;
            text-align: left;
            margin: 0 0.2rem 0 0.2rem;
            line-height: 0.45rem;
            color: #444;
            width: 5.1rem;
        }
        .anniu {
            display: flex;
            justify-content: space-between;
            div img {
                height: .38rem;
                width: 0.43rem;
                margin: 0 0 0.2rem 0;
            }
            img {
                width: 1.4rem;
                height: 1.4rem;
                margin: .2rem;
            }
        }
        .quxiao {
            display: -ms-flexbox;
            z-index: 9999;
            display: flex;
            justify-content: center;
            -ms-flex-pack: center;
            background: rgb(255, 255, 255, 1);
            width: 100%;
            position: fixed;
            bottom: 0;
            flex-direction: column;
            text-align: center;
            .yuanquan {
                margin: .2rem;
                border-radius: 14px;
                border: 1px solid;
                width: .4rem;
                height: .4rem;
                color: #fff;
                text-align: center;
                line-height: .4rem;
                font-size: 0.5rem;
                transform: rotate(45deg) scale(1.3);
            }
            .tupian {
                height: 2.46rem;
                display: flex;
                justify-content: space-around;
                .tupiandiv {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                img {
                    margin-bottom: .29rem;
                    width: .79rem;
                    height: .64rem;
                }
            }
            .wenzi {
                border-top: 1px solid;
                height: .9rem;
                line-height: .9rem;
            }
        }
    }
    
    .user-center-question {
        display: flex;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        /* padding-right: .2rem; */
        margin-top: -.2rem;
        margin-right: -.1rem;
        img {
            width: .4rem;
            height: .4rem;
        }
    }
    
    .drawwith-tip {
        display: flex;
        justify-content: center;
        .modal-box {
            overflow: inherit;
            z-index: 9999;
            height: 100%;
            width: 100%;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .tip {
            background-image: url('../img/tip.png');
            background-repeat: no-repeat;
            z-index: 9999;
            position: fixed;
            width: 6rem;
            height: 9rem;
            background-size: contain;
            top: 1rem;
            .tip-button {
                margin-top: 7.2rem;
                display: flex;
                justify-content: center;
                img {
                    width: 5rem;
                    height: 1rem;
                }
            }
            .tip-cancel {
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                img {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
    
    .my-money {
        font-size: 0.5rem;
        /* color: #F8D086; */
        background-image: -webkit-linear-gradient(right, #F8D086, #FFECCB, #E5C280);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
    }
    
    .my-center-money {
        /* color: #F8D086; */
        background-image: -webkit-linear-gradient(right, #F8D086, #FFECCB, #E5C280);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }