@charset "UTF-8";
@import '../../../wmkit/variable.css';

.store-dialog-box {
  flex-direction: column;
}
.b-store-dialog {
  background: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
  img {
    width: 200px;
  }
  h2 {
    text-align: center;
    color: #000;
    font-size: 0.36rem;
    padding: 15px 0;
    margin: 0;
    font-weight: 400;
  }
  p {
    text-align: left;
    color: #333;
    margin: 0;
    font-size: 0.3rem;
    &.reason {
      margin-top: 0.4rem;
      color: $new-theme-color;
    }
  }
}
.store-close {
  margin-top: 0.6rem;
  .iconfont {
    font-size: 0.8rem;
    color: #fff;
  }
}
