/* 邀请好友页面 */
.pop-div {
  width: 100%;
  height: calc(100vh);
  background: #f7f1eb;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  .store-informat {
    position: absolute;
    left: 0.27rem;
    top: 0.69rem;
    display: flex;
    align-items: center;
    .heard-pointer {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 100%;
      margin-right: 0.14rem;
    }
    .store-container {
      display: flex;
      flex-direction: column;
      .store-name {
        font-size: 0.28rem;
        color: #000;
        font-weight: 400;
        display: block;
        margin-bottom: 0.13rem;
      }
      .store-daren {
        width: 1.3rem;
        height: 0.32rem;
        font-size: 0.24rem;
        color: #e4c137;
        background: #000;
        line-height: 0.32rem;
        text-align: center;
        border-radius: 0.2rem;
      }
    }
  }
  .f-size {
    font-size: 0.6rem;
  }
  .close {
    position: absolute;
    right: 0.45rem;
    top: 0.75rem;
  }
  .div-box {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    background: #f7f1eb;

    .invit-img {
      width: 67%;
      padding-top: 62%;
      background: url('../img/invit-img.png') no-repeat;
      background-size: cover;
      margin: 0 auto;
    }
    .invit-title {
      font-size: 0.42rem;
      font-weight: 400;
      color: #333;
      text-align: center;
      display: block;
      margin-top: 0.35rem;
      margin-bottom: 0.2rem;
    }
    .invit-text1 {
      font-size: 0.32rem;
      color: #333;
      display: block;
      text-align: center;
      margin-bottom: 0.35rem;
    }
    .invit-icon {
      width: 1.58rem;
      height: 1.58rem;
      border-radius: 100%;
      margin: 0 auto 0.2rem auto;
      display: block;
    }
    .invit-text2 {
      font-size: 0.24rem;
      color: #333;
      display: block;
      text-align: center;
    }
  }
  .bottom-ul {
    width: 100%;
    height: 2rem;
    background: rgba(000, 000, 000, 0.4);
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      .wecat-icon {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: url('../img/wecat.png') no-repeat;
        background-size: 100% 100%;
      }
      .circle-icon {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: url('../img/circle.png') no-repeat;
        background-size: 100% 100%;
      }
      .img-icon {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: url('../img/img.png') no-repeat;
        background-size: 100% 100%;
      }
      span {
        font-size: 0.24rem;
        color: #fff;
        margin-top: 0.1rem;
      }
    }
  }
}
