@import '../../../web_modules/wmkit/variable.css';
:local(.materialContainer) {
    background-color: #fafafa;
    height: 100%;
    color: #333;
    .material-top {
        background-color: #fff;
        height: 0.98rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 0.28rem;
        border-bottom: 1px solid #fafafa;
        position: fixed;
        top: 0;
        width: 100%;
        .material-top-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 0.1rem;
            font-size: .32rem;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(153, 153, 153, 1);
            i {
                display: flex;
                width: 0.44rem;
                height: 0.04rem;
                background-color: #fff;
                margin-top: 0.1rem;
            }
            &.curr {
                /* color: $new-theme-color; */
                font-family: PingFang SC;
                font-weight: bold;
                color: rgba(0, 0, 0, 1);
                i {
                    /* background: $new-theme-color; */
                    background: rgba(0, 0, 0, 1);
                }
            }
        }
    }
    .material-list {
        #listViewPrt {
            height: calc(100vh - 1rem) !important;
        }
        .material-item:nth-child(n + 2) {
            .line {
                width: 100%;
                display: flex;
                background: rgba(230, 230, 230, 1);
                height: 1px;
                margin-bottom: .3rem;
            }
        }
        .material-item {
            background: #fff;
            /* margin: 0.2rem; */
            /* width: calc(100% - 0.4rem); */
            /* border-radius: 8px; */
            border-bottom: 0.01rem solid #e6e6e6;
            padding: 0.2rem;
            .line {
                width: 0;
            }
            .material-item-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 0.25rem;
                .top-img-box {
                    width: 0.9rem;
                    height: 0.9rem;
                    border-radius: 50%;
                    margin-right: 0.25rem;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .material-name {
                    width: calc(100% - 1rem);
                    font-size: 0.26rem;
                    .material-name-top {
                        margin-bottom: 0.18rem;
                        span {
                            font-size: .28rem;
                            font-family: PingFang SC;
                            font-weight: bold;
                            color: rgba(51, 51, 51, 1);
                        }
                        .share-time {
                            /* color: #999;
                            font-size: 0.24rem; */
                            font-size: .26rem;
                            font-family: PingFang SC;
                            font-weight: 500;
                            color: rgba(255, 77, 77, 1);
                            .span {
                                color: #333333;
                            }
                        }
                    }
                    .material-name-bottom {
                        /* color: #999;
                        font-size: 0.24rem; */
                        font-size: .26rem;
                        font-family: PingFang SC;
                        font-weight: 500;
                        color: rgba(153, 153, 153, 1);
                    }
                }
            }
            .material-tag {
                font-size: 0.3rem;
                margin-bottom: 0.1rem;
            }
            .material-detail {
                font-size: 0.26rem;
                line-height: 0.36rem;
                max-height: 105px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                font-size: .28rem;
                font-family: PingFang SC;
                /* font-weight: 500; */
                color: rgba(51, 51, 51, 1);
                line-height: .42rem;
                &.show-all-detail {
                    display: block;
                    max-height: none;
                    overflow: inherit;
                }
            }
            .open-all {
                color: rgb(255, 77, 77);
                font-size: 0.26rem;
                margin-top: 0.15rem;
                i {
                    font-size: 0.26rem;
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: 1px;
                    &.change-arrow {
                        transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        /* IE 9 */
                        -moz-transform: rotate(180deg);
                        /* Firefox */
                        -webkit-transform: rotate(180deg);
                        /* Safari 和 Chrome */
                        -o-transform: rotate(180deg);
                        margin-top: -6px;
                    }
                }
            }
            ul {
                li {
                    border: 1px solid #eee;
                    margin-right: 0.15rem;
                    width: calc((100vw - 1.2rem) / 3 - 0.37rem);
                    height: calc((100vw - 1.2rem) / 3 - 0.37rem);
                    border-radius: 0.1rem;
                    position: relative;
                    float: left;
                    margin-top: 0.15rem;
                    img:first-child {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: 0.1rem;
                    }
                    &:nth-child(3n + 3) {
                        margin-right: 0;
                    }
                }
            }
            .material-share {
                /* background-color: #fafafa; */
                background-color: rgba(245, 245, 245, 1);
                border-radius: 0.1rem;
                border: 1px solid #ddd;
                padding: 0.2rem;
                display: flex;
                justify-content: center;
                align-content: center;
                margin-top: 0.3rem;
                img {
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 0.1rem;
                    margin-right: 0.15rem;
                }
                .material-share-info {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    flex: 1;
                    width: 100px;
                    .share-info-name {
                        font-size: 0.28rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-family: PingFang SC;
                        font-weight: bold;
                        color: rgba(51, 51, 51, 1);
                    }
                    .share-info-price {
                        /* font-size: 0.24rem; */
                        font-size: .24rem;
                        font-family: PingFang SC;
                        font-weight: 500;
                        color: rgba(255, 77, 77, 1);
                        span {
                            font-size: 0.28rem;
                            color: $new-theme-color;
                        }
                        .share-info-icon {
                            margin-top: -0.03rem;
                            font-size: .26rem;
                            font-family: PingFang SC;
                            font-weight: 500;
                            color: rgba(51, 51, 51, 1);
                            display: inline;
                            float: right;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
                .share-info-icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: -0.03rem;
                    /* color: $new-theme-color; */
                    font-size: .26rem;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: rgba(51, 51, 51, 1);
                }
            }
            .material-share-bottom {
                margin-top: 0.3rem;
                font-size: 0.26rem;
                color: #666;
                i {
                    margin-right: 0.1rem;
                    color: #333;
                    font-size: 0.4rem;
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: -0.08rem;
                }
            }
        }
    }
    .material-mask {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        .material-mask-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            img {
                max-width: 100%;
            }
        }
    }
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-swiper {
        .swiper-wrapper {
            width: 100%;
            height: 100%;
            .material-mask-item.swiper-slide {
                width: 100vw;
                /* height: calc(100vw * 0.48); */
                /* height: 3.35rem; */
                img {
                    max-width: 100%;
                    /* max-height: 100%; */
                }
            }
        }
    }
    .fenxiang {
        position: absolute;
        /* z-index: 99999999; */
        /* background: black; */
        /* background-color: rgba(0, 0, 0, 0.5); */
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .sssimg {
            height: 4.1rem;
            width: 5.1rem;
            background-repeat: round;
            border-radius: 10px 10px 0 0;
        }
        .content-fenxiang {
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            text-align: center;
            /* align-items: center; */
            /* width: 4.5rem; */
            .bottom-price {
                margin: 0.15rem 0 0.15rem 0.15rem;
                text-align: left;
                .price {
                    font-size: 0.37rem;
                }
            }
        }
        .goodsTitle {
            font-size: 0.28rem;
            text-align: left;
            margin: 0 0.2rem 0 0.2rem;
            line-height: 0.45rem;
            color: #444;
            width: 5.1rem;
        }
        .anniu {
            display: flex;
            justify-content: space-between;
            div img {
                height: .38rem;
                width: 0.43rem;
                margin: 0 0 0.2rem 0;
            }
            img {
                width: 1.4rem;
                height: 1.4rem;
                margin: .2rem;
            }
        }
        .quxiao {
            display: -ms-flexbox;
            z-index: 9999;
            display: flex;
            justify-content: center;
            -ms-flex-pack: center;
            background: rgb(255, 255, 255, 1);
            width: 100%;
            position: fixed;
            bottom: 0;
            flex-direction: column;
            text-align: center;
            .yuanquan {
                margin: .2rem;
                border-radius: 14px;
                border: 1px solid;
                width: .4rem;
                height: .4rem;
                color: #fff;
                text-align: center;
                line-height: .4rem;
                font-size: 0.5rem;
                transform: rotate(45deg) scale(1.3);
            }
            .tupian {
                height: 2.46rem;
                display: flex;
                justify-content: space-around;
                .tupiandiv {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                img {
                    margin-bottom: .29rem;
                    width: .79rem;
                    height: .64rem;
                }
            }
            .wenzi {
                border-top: 1px solid;
                height: .9rem;
                line-height: .9rem;
            }
        }
    }
}

.fenxiang2 {
    position: absolute;
    /* z-index: 99999999; */
    /* background: black; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sssimg {
        height: 4.1rem;
        width: 5.1rem;
        background-repeat: round;
        border-radius: 10px 10px 0 0;
    }
    .content-fenxiang {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* align-items: center; */
        /* width: 4.5rem; */
        .bottom-price {
            margin: 0.15rem 0 0.15rem 0.15rem;
            text-align: left;
            .price {
                font-size: 0.37rem;
            }
        }
    }
    .goodsTitle {
        font-size: 0.28rem;
        text-align: left;
        margin: 0 0.2rem 0 0.2rem;
        line-height: 0.45rem;
        color: #444;
        width: 5.1rem;
    }
    .anniu {
        display: flex;
        justify-content: space-between;
        div img {
            height: .38rem;
            width: 0.43rem;
            margin: 0 0 0.2rem 0;
        }
        img {
            width: 1.4rem;
            height: 1.4rem;
            margin: .2rem;
        }
    }
    .quxiao {
        display: -ms-flexbox;
        z-index: 9999;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        background: rgb(255, 255, 255, 1);
        width: 100%;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        text-align: center;
        .yuanquan {
            margin: .2rem;
            border-radius: 14px;
            border: 1px solid;
            width: .4rem;
            height: .4rem;
            color: #fff;
            text-align: center;
            line-height: .4rem;
            font-size: 0.5rem;
            transform: rotate(45deg) scale(1.3);
        }
        .tupian {
            height: 2.46rem;
            display: flex;
            justify-content: space-around;
            .tupiandiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            img {
                margin-bottom: .29rem;
                width: .79rem;
                height: .64rem;
            }
        }
        .wenzi {
            border-top: 1px solid;
            height: .9rem;
            line-height: .9rem;
        }
    }
}

.motaikuan {
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}