@import '../../../web_modules/wmkit/variable.css';
.container {
  flex: 1;
}
.goods-list-box {
  display: flex;
  background-color: #fff;
  padding: 0 0.18rem 0.22rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  .goods-item-box {
    display: flex;
    flex-direction: column;
    width: calc(50% - 0.1rem);
    height: 5.3rem;
    border: 1px solid #ebebeb;
    margin-top: 0.22rem;
    .list-img-box {
      border-bottom: 1px solid #ebebeb;
      position: relative;
      .list-num {
        position: absolute;
        color: #fff;
        bottom: 0;
        width: 0.8rem;
        height: 0.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eb637c;
      }
    }
    .list-detail {
      height: 1.76rem;
      display: flex;
      flex-direction: column;
      padding: 0 0.2rem;
      justify-content: space-around;
      .list-bottom {
        display: flex;
        justify-content: space-between;
        .bottom-group-complete {
          font-size: 0.2rem;
          color: #5d5d5d;
        }
        .group-pin {
          background: linear-gradient(
            -67deg,
            rgba(249, 26, 83, 1) rgba(255, 82, 64, 1)
          );
          width: 0.4rem;
          height: 0.4rem;
          color: #ffff;
          border-radius: 0.06rem;
          font-size: 0.26rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .goods-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 0.26px;
        color: #7a7a7a;
      }
    }
  }
}
