.distribution-rule {
  background-color: #fafafa;

  .about-box {
    padding: 15px;

    h6 {
      margin: 0px 0px 20px;
      color: #333;
      font-size: 0.28rem;
      font-weight: 400;
    }

    p {
      color: #999;
      font-size: 0.28rem;
      margin: 0px;
      line-height: 140%;
      font-weight: 400;
    }

    img {
      width: auto;
      height: auto;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
    }
  }
}