@import '../../../web_modules/wmkit/variable.css';

.container {
  flex: 1;
  padding-left: 0.22rem;
  padding-right: 0.2rem;
  background: #f9f9f9;
}

.item-trade {
  width: 7.1rem;
  height: 3.34rem;
  margin-top: 0.26rem;
  /* padding: 0 0.18rem; */
  background: #fff;
  box-shadow: 0 0.06rem 0.16rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.2rem;
  /* border-top: 2px solid #ddd; */
  flex-direction: column;
  /* border-left: 1px solid #ebebeb; */
  /* border-right: 1px solid #ebebeb; */

  .item-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 0.74rem; */
    height: 0.96rem;
    border-bottom: 1px solid #ebebeb;

    .group-status {
      margin-right: 0.2rem;
      font-size: 0.28rem;
      /* color: #ff1f4e; */
      color: #999;
    }

    .pay-status {
      font-size: 0.28rem;
      margin-left: 0.1rem;
      color: #ff1f4e;
    }
  }
}

.goods {
  margin-left: 0.22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.4rem;

  .goods-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* font-size: 0.26rem; */
    font-size: 0.28rem;
    font-weight: bold;
    width: 4.75rem;
    color: #333;
    margin-left: 0px !important;
  }

  .goods-num {
    font-size: 0.22rem;
    color: #666;
  }
  .price {
    font-size: 0.28rem;
    color: #FF4D4D;
  }
  .goods-price {
    color: #FF4D4D;
    font-weight: bold;
    font-size: 0.38rem;
  }
}

.bottom {
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.88rem;
  /* padding: 0.25rem 0.2rem; */
}

.countdown: {
  font-size: 0.26rem;
}

.time {
  font-size: 0.26rem;
  /* color: #ff1f4e; */
  color: #666;
  /* margin-left: 0.2rem; */
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.62rem;
  height: 0.48rem;
  border-radius: 0.24rem;
  /* background-color: #f91a53; */
  background: linear-gradient(to right, #FF6A4D,#FF1A1A);
  color: #fff;
  font-size: 0.24rem;
  margin-right: 0.2rem;
  border: none;
}
