@import '../../../web_modules/wmkit/variable.css';
.growth-context {
  font-size: 0.28rem;
  > span {
    margin-left: 0.1rem;
    font-weight: 500;
    font-size: 0.6rem;
  }
}
.growth-rules {
  position: absolute;
  color: #B37400;
  top: 10vw;
  /* right: 0.3rem; */
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF0D6;
  /* border: 1px solid #fff; */
  font-size: 0.26rem;
  /* padding: 0 0.2rem; */
  height: 0.44rem;
  /* line-height: 0.36rem; */
  width: 1.14rem;
  border-radius: 0.22rem 0 0 0.22rem;
  span {
    display: inline-block;
    transform: scale(0.8333);
    transform-origin: center center;
  }
  i {
    transform: rotate(180deg);
    font-size: 0.18rem;
  }
}
.member-points-mall {
  padding: .18rem 0;
  overflow: hidden;
  background: #fff;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.pointList {
  height: calc(100vh - 3.5rem);
  background-color: #fff;
  li {
    padding: 0.2rem 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
  }
  p {
    color: #000;
    font-size: 0.28rem;
    line-height: 1;
    padding: 0.1rem 0.1rem;
  }
  p.order-rel {
    font-size: 0.26rem;
    padding: 0.05rem 0.1rem;
    color: #999;
  }
  .title {
    font-size: 0.28rem;
    font-weight: bold;
    color: #333;
  }
  .time {
    color: #999;
    font-size: 0.26rem;
  }
  .add-text {
    font-size: 0.32rem;
    color: #FF4D4D;
  }
  .del-text {
    font-size: 0.32rem;
    font-weight: bold;
    color: #999;
  }
}
.valueLayer {
  width: 82%;
  max-height: 80%;
  overflow-y: auto;
  background-color: #fff;
  padding: 0.5rem 0.6rem;
  .headerTitle {
    color: #000;
    font-size: 0.28rem;
    font-weight: 700;
    text-align: center;
  }
  .infoText {
    margin-top: 0.3rem;
    color: #000;
    font-size: 0.24rem;
  }
  img {
    max-width: 100%;
  }
}
.la-close {
  margin-top: 0.6rem;
  .icon-Close {
    font-size: 0.8rem;
    color: #fff;
  }
}
