.content-child{
  padding-top: 0.1rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
}
.content-small{
  margin: 0.2rem;
  padding-top: 0.1rem;
  /* .content-small-list{ */
    margin: 0.2rem;
  /* } */
}
.small-view-box{
  .small-goods-box{
    padding: 0.2rem;
    transform: scale(1.25);
    margin: 0.25rem 0.3rem;
    margin-bottom: .45rem;
  }
}
/*  */
.shop-sort-box{
  background: #fff;
  /* border-radius: 0.2rem; */
}
.goods-list{
  display: flex;
  align-items: center;
  .bottom {
    .social-btn-box img{
      /* padding-top: 0.2rem;   */
      margin-top: 0.1rem;
      /* margin-bottom: 0.1rem; */
      width: 1.25rem;
      margin-right:0.15rem;
    }
    .out-stock img{
      padding-top: 0.2rem;  
      margin-top: 0.1rem;
      margin-bottom: 0.1rem;
      width: 0.7rem;
      margin-right:0.15rem;
    }
  }
} 
/* .goods-list .social-btn-box{
  .social-btn{
    margin: 0.12rem 0;
    width: 1.2rem;
    background: linear-gradient(to right,#FF6A4D,#FF1A1A);
  } */
/* } */
.no-more-tips {
  background: #fff ;
}