:local(.card) {
  display:flex;
  border: 1px solid #ebebeb;
  border-radius: 4px 4px 0 0;
  padding: 10px;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
  &:before,&:after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: -3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ebebeb;
  }
  &:after {
    right: -5px;
    left: auto;
  }
}

:local(.cardBox) {
  padding: 15px;
  padding-bottom: 84px;
}

:local(.title) {
  color: #333;
  font-size: .34rem;
  font-weight: bold;
}

:local(.name) {
  color: #333;
  font-size: .26rem;
  margin-top: 5px;
  line-height: 200%;
}

:local(.acount) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

:local(.num) {
  color : #939495;
  font-size: .24rem;
}

:local(.btn) {
  i{
    font-size: .4rem;
    color : #3d85cc;
    margin-left: 40px;
  }
}
