@import '../../../web_modules/wmkit/variable.css';
.service-main {
    background: #fff;
}

.service-box {
    border-top: 1px solid #ebebeb;
    background-color: #ffffff;
    .item {
        border-bottom: 1px solid #ebebeb;
        padding: 0 5px 0 10px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .icon-item {
            color: #00baff;
            font-size: 0.48rem;
            &.icon-weixin {
                color: #2aa515;
                vertical-align: middle;
                margin-top: -3px;
            }
        }
        img {
            height: .4rem;
            width: .44rem;
        }
        span {
            color: #999;
            font-size: 0.28rem;
            &.account-name {
                display: flex;
                flex: 1;
                text-align: left;
                color: #333;
                padding-left: 11px;
            }
        }
        .arrow {
            color: #999;
            font-size: 0.36rem;
        }
    }
}

.bottom-tip {
    padding: 14px 13px;
    p {
        font-size: 0.24rem;
        color: #939495;
        line-height: 25px;
    }
}