/* 头部 */

.integral-header {
    width: 100%;
    height: 1.89rem;
    background: url('../../../web_modules/images/user-bg.png') no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .head-pointer {
        width: 1.14rem;
        height: 1.14rem;
        border-radius: 100%;
        margin-right: 0.15rem;
    }
    .right-info {
        display: flex;
        flex-direction: column;
        .up-title {
            font-size: 0.28rem;
            color: #fff;
            margin-bottom: 0.1rem;
        }
        .down-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            .text {
                font-size: 0.24rem;
                color: rgba(255, 255, 255, 0.7);
            }
            .dh-btn {
                width: 1.28rem;
                padding: 0.1rem 0 0.05rem;
                border-radius: 2rem;
                border: 1px solid #fff;
                text-align: center;
                color: #fff;
                font-size: 0.24rem;
                transform: scale(0.83);
            }
        }
    }
}


/* 搜索 */

.integral-reseach {
    width: 100%;
    padding: 0.3rem;
    .integral-box {
        position: relative;
        .int {
            width: 100%;
            height: 0.83rem;
            background: #eee;
            border-radius: 0.4rem;
            font-size: 0.36rem;
            color: #333;
            padding: 0 0.3rem 0 0.8rem;
        }
        i {
            position: absolute;
            left: 0.24rem;
            top: 0.24rem;
            font-size: 0.36rem;
        }
    }
}


/* 热门兑换 */

.integral-exchange {
    display: flex;
    flex-direction: column;
    .title {
        background: #fff;
        padding: 0.23rem 0.28rem;
        margin-bottom: 0.1rem;
        text-align: center;
        span {
            margin-left: 10px;
            margin-right: 10px;
            color: #000;
            font-size: 0.28rem;
        }
    }
    .integral-list {
        width: 100%;
        overflow: hidden;
        margin-bottom: 0.2rem;
        .product-info {
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            .picture {
                width: 130px;
                height: 130px;
                margin-top: 0.1rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .text1 {
                font-size: 0.28rem;
                color: #000;
                margin-top: 0.15rem;
                width: 120px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
            }
            .text2 {
                font-size: 0.28rem;
                color: #ff1f4e;
                margin: 0.1rem 0;
            }
            .lj-btn {
                width: 2rem;
                text-align: center;
                padding: 0.1rem 0 0.12rem;
                border: 1px solid #ff1f4e;
                border-radius: 0.3rem;
                font-size: 0.3rem;
                color: #ff1f4e;
                margin-bottom: 0.3rem;
            }
        }
    }
}


/* 商品列表 */

.integral-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    .cate-list {
        z-index: 999;
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        width: 100%;
        top: 0;
        background: #fff;
        border-top: 1px solid #ebebeb;
        overflow-x: auto;
    }
    .cate-content {
        white-space: nowrap;
        overflow-x: auto;
        .cate-item {
            display: inline-block;
            height: 0.8rem;
            font-size: 0.28rem;
            color: #333;
            text-align: center;
            padding: 0 8px;
            margin: 0 4px;
            line-height: 38px;
            &.cur {
                border-bottom: 2px solid #ff1f4e;
                color: #ff1f4e;
            }
        }
    }
    .nav-ul {
        z-index: 999;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: #fff;
        border-top: 1px solid #ebebeb;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 0.8rem;
            font-size: 0.28rem;
            color: #333;
            .transform-i {
                transform: rotate(180deg);
            }
        }
        .active-li {
            border-bottom: 2px solid #ff1f4e;
            color: #ff1f4e;
        }
    }
    .list-ul {
        margin-top: 0.1rem;
        display: flex;
        flex-direction: column;
        background: #fff;
        margin-bottom: 1.06rem;
        .goods-info {
            padding: 0.2rem;
            border-bottom: 1px solid #ebebeb;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .left-img {
                width: 1.6rem;
                height: 1.6rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .right-text {
                display: flex;
                flex-direction: column;
                .text1 {
                    font-size: 0.28rem;
                    color: #333;
                    width: calc(100vw - 2.2rem);
                }
                .text2 {
                    font-size: 0.28rem;
                    color: #ff1f4e;
                    margin: 0.1rem 0;
                }
                .text3 {
                    font-size: 0.26rem;
                    color: #999;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #fff;
}

.black-layer {
    width: 100%;
    height: calc(100vh);
    background: rgba(000, 000, 000, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 9999;
    .white-layer {
        width: 6.66rem;
        background: #fff;
        .payment-title {
            font-size: 0.36rem;
            font-weight: 400;
            color: #333;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 1.2rem;
        }
        .input-div {
            overflow: hidden;
            background: #fafafa;
            padding: 0 0.38rem;
            .int-pass {
                width: 100%;
                height: 1rem;
                padding: 0.2rem;
                background: transparent;
            }
        }
        .forget-pass {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 0.88rem;
            padding: 0 0.38rem;
            .left-text {
                font-size: 0.26rem;
                color: #ff1f4e;
                font-weight: 400;
            }
            .right-text {
                font-size: 0.26rem;
                color: #333;
                font-weight: 400;
            }
        }
        .down-btn {
            display: flex;
            border-top: 0.01rem solid #f3f3f3;
            .cancel-btn {
                width: calc(50vw - 0.01rem);
                line-height: 1rem;
                border-right: 0.01rem solid #f3f3f3;
                text-align: center;
                font-size: 0.32rem;
                color: #000;
                font-weight: 400;
            }
            .submit-btn {
                width: calc(50vw);
                line-height: 1rem;
                text-align: center;
                font-size: 0.32rem;
                color: #ff1f4e;
                font-weight: 400;
            }
            .no-submit-btn {
                width: calc(50vw);
                line-height: 1rem;
                text-align: center;
                font-size: 0.32rem;
                color: #cccccc;
                font-weight: 400;
            }
        }
    }
}

.pay-title {
    font-size: 14px;
    font-family: PingFang SC;
    color: rgba(51, 51, 51, 1);
    line-height: 42px;
    font-weight: bold;
    .balance-style {
        justify-content: flex-end;
        width: 100%;
        margin-right: 12px;
    }
}

.pay-suc-box {
    border: 1px solid #ebebeb;
    padding: 12px;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    margin-top: 15px;
}

.pay-omline-box {
    width: 100%!important;
}

.text-al-cen {
    text-align: center !important;
    width: 100% !important;
}
