@import '../../../web_modules/wmkit/variable.css';

.order-num-title {
  background: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  color: #333333;
  font-size: .28rem;
}

.refund-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  background: #ffffff;
  .refund-dec {
    color: #333333;
    font-size: .28rem;
    margin-left: 6px;
    p{
      font-size: .24rem;
      margin-top: 5px;
      color: #999;
      .iconfont{
        vertical-align: -1px;
        color: #ff9600;
      }
    }
  }
}

.refund-reason-box {
  background: #ffffff;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding:10px;
  font-size: .28rem;
  margin-bottom: 10px;
  h2 {
    font-weight: 400;
    color : #333;
    margin: 0;
    padding: 0;
    font-size: .28rem;
    margin-left: 2%;
  }
}

.bring-area {
  width: 100%;
  color: #939495;
  font-size: .28rem;
  padding: 5px 2%;
  outline: none;
  text-align: left;
  resize: none;
}

.words-limit {
  text-align: right;
  color : #939495;
  font-size: .28rem;
}

.text-al-c {
  text-align: center !important;
  width: 100% !important;
}
