/* 邀请好友-详细说明 */
.detail-div {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: rgba(000, 000, 000, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .scroll-div {
    max-height: 9rem;
    overflow: scroll;
    .white-div {
      width: 6.24rem;
      background: #fff;
      padding: 0.5rem 0.6rem;
      .detail-title {
        font-size: 0.24rem;
        color: #000;
        display: block;
        margin-bottom: 0.4rem;
      }
      .detail-text {
        font-size: 0.24rem;
        color: #000;
        display: block;
        line-height: 0.32rem;
        margin-bottom: 0.4rem;
      }
      img{
        max-width: 100%;
      }
      .text-img {
        width: 5rem;
        height: 2.8rem;
        /* background: url('http://s6.sinaimg.cn/mw690/002d9GO5gy6J3laS6S9c5&690')
          no-repeat;
        background-size: 100% 100%; */
      }
    }
  }

  .close {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .f-style {
      color: #fff;
      font-size: 0.8rem;
    }
  }
}
