@import '../../variable.css';

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .closeBox {
    padding: 20px;
    color: #999;
    display: flex;
    align-self: flex-start;
  }

  .l-logo {
    /* width: 100%;
    text-align: center;
    margin-bottom: 30px;
    height: 35px; */

    width: 100%;
    text-align: center;
    margin-top: 0.44rem;
    margin-bottom: 1rem;
  }

  .logoImg {
    /* height: 35px; */
    width: 1.4rem;
    height: 1.4rem;
    background: rgba(216, 226, 240, 1);
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.17);

  }

  .login-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
  }

  .inputBox {
    border-bottom: 1px solid rgb(229, 229, 229) !important;
    height: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    flex: 1;


    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(187, 187, 187, 1);


    &.eyes-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1;

      img {
        margin-left: 0.2rem !important;
        width: .3rem !important;
        height: .33rem !important;
      }
    }
  }

  .formInput {
    font-size: 0.28rem;
    line-height: 0.4rem;
    margin-left: 0.2rem;

    &.sendCodeInput {
      width: 55%;
    }
  }

  .l-findCode {
    text-align: right;
    height: 0.28rem;

    a {
      color: #999;
      font-size: 0.26rem;
    }
  }

  .login-btnBox {
    padding: 25px 15px;
    text-align: center;
  }

  .login-btn {
    /* height: 45px; */
    /* border-radius: 22.5px; */
    border-radius: 1rem;
    line-height: 40px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
    border: none;
    background-color: #fa2550;
    background-image: -moz-linear-gradient(157deg,
        rgb(249, 26, 83) 0%,
        rgb(255, 82, 64) 100%);
    background-image: -webkit-linear-gradient(157deg,
        rgb(249, 26, 83) 0%,
        rgb(255, 82, 64) 100%);
    background-image: -ms-linear-gradient(157deg,
        rgb(249, 26, 83) 0%,
        rgb(255, 82, 64) 100%);
    /* box-shadow: 0 10px 20px 0 rgba(250, 37, 80, 0.26); */
  }

  .register-account {
    text-align: center;
    font-size: 0.28rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 77%;
    justify-content: space-between;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
  }

  .loginSwitch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;

    font-size: 0.32rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);

    span {
      /* font-size: 0.28rem; */
      color: #999;
      padding-bottom: 0.16rem;

      &.curr {
        /* color: #000; */
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
      }
    }

  }

  /* .loginList {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    a {
      text-align: center;

      img {
        width: 1.2rem;
        height: 1.2rem;
        margin-bottom: 6px;
      }

      span {
        color: #999;
        font-size: 0.24rem;
        display: block;
      }
    }
  } */


  .login-list {
    padding: 0 40px 20px 40px;
    display: flex;
    justify-content: space-around;
    /* margin-top: 10px; */

    a {
      text-align: center;

      img {
        width: 0.38rem;
        height: 0.3rem;
      }

      span {
        color: $theme-color;
        font-size: 0.22rem;
        display: block;

        margin-top: 0.2rem;
        color: #818181 !important;
        font-family: PingFang SC;
        font-weight: 400;
        color: rgba(129, 129, 129, 1);
      }
    }
  }

  .sendBtn {
    font-size: 0.7rem;
    color: $theme-color;
    border-left: 1px solid #e5e5e5;
    padding-left: 9px;
  }

  .bottomBar {
    min-height: 120px;
    display: flex;
    width: 75%;
    height: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

.registerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .invite-text {
    text-align: center;
    color: #666;
    font-size: 0.26rem;
  }

  .closeBox {
    padding: 20px;
    color: #999;
    display: flex;
    align-self: flex-start;
  }

  .registerTitle {
    text-align: center;
    color: #000;
    font-size: 0.32rem;
    margin: 0;
    margin-bottom: 30px;
    font-weight: normal;
  }

  .form-item {
    /* padding: 16px 0; */
    padding: 0;
    align-items: center;
  }

  .form-input {
    text-align: left;
  }

  .registerBox {
    width: 90%;
    margin: auto;
  }

  .registerTips {
    /* padding: .20rem 0; */
    padding: .33rem 0;
    font-size: 0.24rem;
    color: #999;
    text-align: center;

    span {
      color: $new-theme-color;
    }
  }

  .registerBtn {
    /* width: 100%; */
    width: 4.6rem;

    .btn-primary {
      background: $red-button-color;
      color: #fff;
      border-color: $red-button-color;
    }
  }
}

/*完善信息*/
.improve-info {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;

  .form-item {
    padding: 16px 14px;
  }

  .form-input {
    text-align: right;
  }

  .btn-primary {
    background: $red-button-color;
    color: #fff;
    border-color: $red-button-color;
  }

  .improve-btn {
    margin-top: 10px;
  }

  .tip-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.4rem;
  }

  .img {
    width: 46px;
    height: 58px;
    margin-right: 0.3rem;
  }

  .text {
    color: #333333;
    font-size: 0.28rem;
    width: 45%;
    line-height: 150%;
  }

  .darktext {
    color: #333;
    font-size: 0.28rem;
    margin: 0px;
    line-height: 25px;
  }

  .grey {
    color: rgb(147, 148, 149);
    font-size: 0.24rem;
    margin: 0px;
  }

  .blue {
    color: $new-theme-color;
  }

  .rightCon {
    display: inline-block;
    width: 65%;
  }
}




.footTitle {
  font-size: 0.22rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(129, 129, 129, 1);
  text-align: center;
  margin-bottom: 0.41rem;
}

.footTitle {

  p:before,
  p:after {
    content: "";
    position: absolute;
    background: #EEEEEE;
    width: 1rem;
    height: 1px;
    background: rgba(238, 238, 238, 1);
    margin-top: 6px;
  }

  p:before {
    left: 23%;
    /*调整背景横线的左右距离*/
  }

  p:after {
    right: 23%;
  }
}


.logo1 {
  width: 100%;
  text-align: center;
  margin-top: 0.44rem;
  margin-bottom: 1.2rem;
  /* height: 35px; */
}

.logoImg1 {
  /* height: 35px; */
  width: 1.65rem;
  height: 1.65rem;
  background: rgba(216, 226, 240, 1);
  /* box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.17); */
  box-shadow: none;
}

.inputBoxMy {
  /* border-bottom: 1px solid rgb(229, 229, 229); */
  /* height: 35px; */
  height: 1.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  /* justify-content: space-between; */
  padding-right: 15px;
  -ms-flex: 1;
  flex: 1;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(187, 187, 187, 1);

  img {
    margin-left: 0.2rem !important;
    width: .3rem !important;
    height: .33rem !important;
  }

  .formInput {
    font-size: 0.28rem;
    line-height: 0.4rem;
    margin-left: 0.2rem;

    &.sendCodeInput {
      width: 55%;
    }
  }
}