@import '../../../web_modules/wmkit/variable.css';
.bangDingPhone {
    .form {
        margin-top: .1rem;
        margin-bottom: 1.35rem;
        .myInput {
            height: 1rem;
            border-bottom: rgba(234, 234, 234, 1) 1px solid;
            margin: 0 .2rem;
            display: flex;
            input {
                width: 100%;
                height: 100%;
                font-size: .28rem
            }
            img {
                width: 1.35rem;
                height: .5rem;
                margin-top: .25rem;
            }
            span {
                display: inline-block;
            }
        }
    }
    .modalBg {
        background: rgba(34, 34, 34, 1);
        opacity: 0.5;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
    .myModal {
        background: rgba(255, 255, 255, 1);
        border-radius: .2rem;
        position: absolute;
        /* background: aliceblue; */
        width: 6rem;
        left: calc(50vw - 3rem);
        top: calc(50vh - 2rem);
        height: 4rem;
        .myTitle {
            font-size: .3rem;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(34, 34, 34, 1);
            text-align: center;
            margin: .73rem 0 .58rem 0;
        }
        .myCheckBox {
            margin-left: .85rem;
            display: flex;
            margin-bottom: .63rem;
            span {
                font-size: .26rem;
                font-family: PingFang SC;
                font-weight: 500;
                color: rgba(102, 102, 102, 1);
                margin-left: .2rem
            }
        }
        .myFooter {
            display: flex;
            justify-content: center;
            img {
                width: 2.2rem;
                margin-right: .85rem
            }
            button {
                width: 2.2rem;
                border: 1px solid rgba(230, 230, 230, 1);
                border-radius: .35rem;
                background: white;
                font-size: .26rem;
                font-family: PingFang SC;
                font-weight: 500;
                color: rgba(102, 102, 102, 1);
                height: .7rem;
            }
        }
    }
    .myHeader {
        font-size: .3rem;
        font-family: PingFang SC;
        font-weight: bold;
        color: rgba(34, 34, 34, 1);
        text-align: center;
        padding: .5rem 0 0 0;
        padding-bottom: .18rem;
        box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.05);
    }
    .myList {
        margin-bottom: 1.33rem;
        ul {
            li {
                height: 1.12rem;
                border-bottom: rgba(234, 234, 234, 1) 1px solid;
                display: flex;
                line-height: 1.2rem;
                font-size: .28rem;
                font-family: PingFang SC;
                font-weight: 500;
                color: rgba(34, 34, 34, 1);
                span {
                    width: .4rem;
                    height: .4rem;
                    margin: auto .4rem .3rem;
                }
            }
        }
    }
    .myFooterBtn {
        text-align: center;
        img {
            width: 4.8rem;
        }
    }
}