@import '../../../web_modules/wmkit/variable.css';
:local(.wrap) {
  border-bottom: 1px solid #ebebeb;
  padding-left: 15px;
  background: #fff;
  h4 {
    font-size: 0.28rem;
    color: #333;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-top: 15px;
  }
}

.pay-delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 12px 10px;
  padding-left: 14px;
  border-bottom: 1px solid #ebebeb;
  color: #333333;
  font-size: 0.28rem;
  .ways-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;
    p {
      line-height: 24px;
      margin-right: 5px;
    }
  }
}

.left-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.black-layer {
  width: 100%;
  height: calc(100vh);
  background: rgba(000, 000, 000, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
  .white-layer {
    width: 6.66rem;
    background: #fff;
    .payment-title {
      font-size: 0.36rem;
      font-weight: 400;
      color: #333;
      display: block;
      width: 100%;
      text-align: center;
      line-height: 1.2rem;
    }
    .input-div {
      overflow: hidden;
      background: #fafafa;
      margin: 0 0.3rem;
      .int-pass {
        width: 100%;
        height: 1rem;
        padding: 0.2rem;
        background: transparent;
      }
    }
    .forget-pass {
      text-align: right;
      padding: 0.3rem;
      .left-text {
        font-size: 0.26rem;
        color: #ff1f4e;
        font-weight: 400;
      }
      .right-text {
        font-size: 0.26rem;
        color: #333;
        font-weight: 400;
      }
    }
    .down-btn {
      display: flex;
      border-top: 0.01rem solid #f3f3f3;
      .cancel-btn {
        width: calc(50vw - 0.01rem);
        line-height: 1rem;
        border-right: 0.01rem solid #f3f3f3;
        text-align: center;
        font-size: 0.32rem;
        color: #000;
        font-weight: 400;
      }
      .submit-btn {
        width: calc(50vw);
        line-height: 1rem;
        text-align: center;
        font-size: 0.32rem;
        color: #ff1f4e;
        font-weight: 400;
      }
      .no-submit-btn {
        width: calc(50vw);
        line-height: 1rem;
        text-align: center;
        font-size: 0.32rem;
        color: #cccccc;
        font-weight: 400;
      }
    }
  }
}
