.container-div {
    width: 100%;
    height: calc(100vh);
    background: #fafafa;
    .up-div {
        width: 100%;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 0.01rem solid #ebebeb;
        background: #fff;
        .portrait {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 100%;
            margin-bottom: 0.25rem;
        }
        .user-name {
            font-size: 0.28rem;
            color: #333;
            font-weight: 400;
        }
    }
    .down-div {
        width: 100%;
        overflow: hidden;
        background: #fff;
        .cash-money {
            display: block;
            padding: 0.3rem 0 0.38rem 0.28rem;
        }
        .rmb {
            display: flex;
            align-items: center;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            padding-bottom: 0.3rem;
            border-bottom: 1px solid #ebebeb;
            justify-content: space-between;
            .unit {
                font-size: 0.6rem;
                color: #000;
            }
            .write-int {
                width: 90%;
                font-size: 0.7rem;
                color: #000;
                font-weight: 800;
                flex: 1;
            }
        }
        .write-div {
            padding: 0.24rem;
            border-bottom: 0.01rem solid #ebebeb;
            .tips-span {
                font-size: 0.26rem;
                color: #999;
            }
            .all-cash {
                font-size: 0.26rem;
                color: #2d578a;
                margin-left: 0.24rem;
            }
            .tips {
                font-size: 0.26rem;
                color: #ff1f4e;
            }
        }
    }
    .cash-btn {
        background: #ff1f4e;
        font-size: 0.32rem;
        color: #fff;
        text-align: center;
        line-height: 0.9rem;
        height: 0.9rem;
        margin: 0.3rem 0.17rem;
    }
    .no-cash-btn {
        background: #cccccc;
        font-size: 0.32rem;
        color: #fff;
        text-align: center;
        line-height: 0.9rem;
        height: 0.9rem;
        margin: 0.3rem 0.17rem;
    }
    .black-layer {
        width: 100%;
        height: calc(100vh);
        background: rgba(000, 000, 000, 0.5);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        .white-layer {
            width: 6.66rem;
            background: #fff;
            .payment-title {
                font-size: 0.36rem;
                font-weight: 400;
                color: #333;
                display: block;
                width: 100%;
                text-align: center;
                line-height: 1.2rem;
            }
            .input-div {
                overflow: hidden;
                /* background: #fafafa; */
                padding: 0 1.1rem;
                .int-pass {
                    width: 100%;
                    height: 1rem;
                    padding: 0.2rem;
                    background: transparent;
                    border-bottom: 1px solid rgba(187, 187, 187, 1);
                }
            }
            .forget-pass {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 0.88rem;
                padding: 0 1.1rem;
                .left-text {
                    font-size: 0.26rem;
                    color: #ff1f4e;
                    font-weight: 400;
                }
                .right-text {
                    font-size: 0.26rem;
                    color: rgba(153, 153, 153, 1);
                    font-weight: 400;
                }
            }
            .down-btn {
                display: flex;
                /* border-top: 0.01rem solid #f3f3f3; */
                justify-content: space-evenly;
                margin-bottom: .28rem;
                .cancel-btn {
                    width: calc(50vw - 0.01rem);
                    line-height: 1rem;
                    border-right: 0.01rem solid #f3f3f3;
                    text-align: center;
                    font-size: 0.32rem;
                    color: #000;
                    font-weight: 400;
                }
                .submit-btn {
                    width: calc(50vw);
                    line-height: 1rem;
                    text-align: center;
                    font-size: 0.32rem;
                    color: #ff1f4e;
                    font-weight: 400;
                }
                .no-submit-btn {
                    width: calc(50vw);
                    line-height: 1rem;
                    text-align: center;
                    font-size: 0.32rem;
                    color: #cccccc;
                    font-weight: 400;
                }
                .left-btn {
                    border: .05rem solid rgba(229, 229, 229, 1);
                    height: .58rem;
                    width: 1.68rem;
                    text-align: center;
                    line-height: .48rem;
                    border-radius: 29px;
                }
                .right-btn {
                    border: .02rem solid rgba(51, 51, 51, 1);
                    height: .58rem;
                    width: 1.68rem;
                    text-align: center;
                    line-height: .48rem;
                    border-radius: 29px;
                }
                .no-right-btn {
                    border: .02rem solid rgba(51, 51, 51, 1);
                    height: .58rem;
                    width: 1.68rem;
                    text-align: center;
                    line-height: .48rem;
                    border-radius: 29px;
                }
            }
        }
    }
}