.tip-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0px;
}

:local(.img) {
  width: 46px;
  height: 58px;
  margin-right: 0.3rem;
}

:local(.text) {
  color: #333333;
  font-size: 0.28rem;
  width: 45%;
  line-height: 150%;
}

:local(.darktext) {
  color: #333;
  font-size: 0.28rem;
  margin: 0px;
  line-height: 25px;
}

:local(.grey) {
  color: rgb(147, 148, 149);
  font-size: 0.24rem;
  margin: 0px;
}

:local(.blue) {
  color: #3d85cc;
}

:local(.rightCon) {
  display: inline-block;
  width: 65%;
}
