@import '../../../../web_modules/wmkit/variable.css';
.friend-box {
    /*height: 100%;*/
    /*padding-top: 0.8rem;*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.friend-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    /* padding: 0.37rem 0; */
    background-color: #fff;
    &-num {
        font-size: 0.6rem;
        color: #FF4D4D;
        font-weight: bold;
    }
    &-text {
        margin-top: 0.23rem;
        font-size: 0.265rem;
        color: #FF4D4D;
        font-weight: bold;
    }
}

&-total,
.b-1px-b::after {
    border-bottom: 0.15rem solid #FAFAFA;
}

.invit-btn {
    background: #fafafa;
    padding: 0.24rem 0.17rem 0 0.17rem;
    border-bottom: 0.01rem solid #ebebeb;
    .btn {
        background: $price-color;
        font-size: 0.32rem;
        color: #fff;
        text-align: center;
        line-height: 0.9rem;
        height: 0.9rem;
    }
    .btn-text {
        font-size: 0.28rem;
        color: #000;
        display: flex;
        justify-content: center;
        margin-top: 0.2rem;
        margin-bottom: 0.33rem;
        .number {
            color: $price-color;
        }
    }
}


/* &-total {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.37rem 0;
        height: 2.3rem;
        background-color: #fff;
        &-num {
            font-size: 0.60rem;
            color: #FF4D4D;
            font-weight: bold;
        }
        &-text {
            margin-top: 0.23rem;
            font-size: 0.26rem;
            color: #FF4D4D;
        }
    }
    &-total,
    .b-1px-b::after {
        border-bottom: 0.15rem solid #FAFAFA;
    }
    .invit-btn {
        background: #fafafa;
        padding: 0.24rem 0.17rem 0 0.17rem;
        border-bottom: 0.01rem solid #ebebeb;
        .btn {
            background: $price-color;
            font-size: 0.32rem;
            color: #fff;
            text-align: center;
            line-height: 0.9rem;
            height: 0.9rem;
        }
        .btn-text {
            font-size: 0.28rem;
            color: #000;
            display: flex;
            justify-content: center;
            margin-top: 0.2rem;
            margin-bottom: 0.33rem; */


/* .list-ul {
    width: 100%;
    overflow: hidden;
    li {
      display: flex;
      padding: 0.26rem 0.2rem;
      border-bottom: 0.01rem solid #E6E6E6;
      align-items: center;
      background: #fff;
      .portrait {
        width: 0.8rem;
        border-radius: 100%;
        height: 0.8rem;
      }
      .div-text {
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 1.2rem);
        .left-text {
          display: flex;
          flex-direction: column;
          padding-left: 0.17rem;
          .name {
            font-size: 0.28rem;
            font-weight: bold;
            color: #333;
            margin-bottom: 0.16rem;
            font-weight: bold;
          }
          .money {
            font-size: 0.24rem;
            color: #333;
            font-weight: bold;
            i{
              font-size: 0.24rem;
              color: #FF4D4D;
            }
            .number {
                color: $price-color;
            }
        } */


/* } */

.list-ul {
    width: 100%;
    overflow: hidden;
    li {
        display: flex;
        padding: 0.26rem 0.2rem;
        border-bottom: 0.01rem solid #E6E6E6;
        align-items: center;
        background: #fff;
        .portrait {
            width: 0.8rem;
            border-radius: 100%;
            height: 0.8rem;
        }
        .div-text {
            display: flex;
            justify-content: space-between;
            width: calc(100vw - 1.2rem);
            .left-text {
                display: flex;
                flex-direction: column;
                padding-left: 0.17rem;
                .name {
                    font-size: 0.28rem;
                    color: #333;
                    margin-bottom: 0.16rem;
                    font-weight: bold;
                }
                .money {
                    font-size: 0.26rem;
                    color: #333;
                    .number {
                        color: #FF4D4D;
                    }
                }
            }
            .right-text {
                display: flex;
                flex-direction: column;
                text-align: right;
                .date {
                    font-size: 0.26rem;
                    color: #999;
                    margin-bottom: 0.17rem;
                }
                .order {
                    font-size: 0.26rem;
                    color: #333;
                    width: 100% !important;
                }
            }
        }
        /* .right-text {
          display: flex;
          flex-direction: column;
          text-align: right;
          .date {
            font-size: 0.24rem;
            color: #999;
            margin-bottom: 0.17rem;
          }
          .order {
            font-size: 0.26rem;
            color: #333;
          }
        } */
    }
}


/**/

.head-tab {
    .tag-bar {
        .tag-bar-list {
            .tag-bar-list-item {
                color: #999;
                font-size: 0.28rem;
                &.active {
                    color: #FF4D4D;
                    font-weight: Bold;
                    border-bottom: 0.05rem solid #FF4D4D;
                }
            }
        }
    }
    .subordinate-box {
        .subordinate-box-head {
            margin: 0.3rem 0 0.15rem;
            &-sort {
                display: flex;
                flex-direction: row;
                font-size: 0.28rem;
                align-items: center;
                padding: 0 0.25rem;
                img {
                    width: 0.3rem;
                    height: 0.3rem;
                }
                span {
                    color: #999;
                    margin: 0 0.1rem;
                    padding: 0 0.1rem;
                    border-radius: 0.1rem;
                    background: #F5F5F5;
                }
                &-date {
                    color: #999;
                    font-size: 0.26rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    line-height: 0.7rem;
                    .s-time span {
                        float: right;
                        color: rgb(136, 136, 136);
                        font-size: 0.26rem !important;
                        margin: 0;
                    }
                    .e-time span {
                        margin: 0rem !important;
                    }
                }
                /* &-btn{
          display:flex;
          flex-direction:row;
          align-items:center;
          line-height: 0.47rem;
          .reset-btn{
            background: #fff;
            width:1.1rem;
            height:0.5rem;
            color:#43F1C9;
            font-size:0.26rem;
            border:0.035rem solid #4EE3E6;
            border-radius: 0.35rem;
            display: flex;
            justify-content: center;
            margin: 0 0.1rem;
          }
        } */
            }
            .distributer {
                color: #999;
                font-size: 0.26rem;
                padding: 0.25rem 0.25rem 0.3rem;
            }
        }
        /*  */
        .tag-bar {
            .tag-bar-list {
                flex: 3;
                justify-content: space-around;
                .tag-bar-list-item {
                    color: #999;
                    font-size: 0.32rem;
                    text-align: center;
                    width: 2rem;
                    padding-bottom: 0.8rem;
                    &.active {
                        color: #FF4D4D;
                        padding-top: 0.05rem;
                        padding-bottom: 0.8rem;
                        border-bottom: 0.05rem solid #FF4D4D;
                    }
                }
            }
        }
        .subordinate-list {
            .ul-tab {
                background: #FAFAFA;
                color: #999;
                font-size: 0.26rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 0.9rem;
                line-height: 0.9rem;
                span {
                    /* width: 1.1rem; */
                    width: 20%;
                    text-align: center;
                }
            }
            .ul-list {
                color: #333;
                .ul-list-li {
                    overflow: scroll;
                    li {
                        display: flex;
                        justify-content: space-around;
                        /* flex-direction:row; */
                        span {
                            height: 0.9rem;
                            line-height: 0.9rem;
                            text-align: center;
                            font-size: 0.24rem;
                            width: 1.2rem;
                            /* width: 20%; */
                        }
                        div {
                            display: flex;
                            align-items: center;
                            width: 20%;
                            text-align: center;
                            justify-content: center;
                            font-size: 12px;
                            height: 0.9rem;
                        }
                        span:nth-of-type(2) {
                            width: 1.3rem;
                        }
                    }
                }
            }
            .ul-list:nth-child(odd) {
                background: #FAFAFA;
            }
        }
    }
}

.ul-list-div-name {
    text-decoration: underline;
    color: #FF4D4D;
}