.account-detail {
    width: 100%;
    overflow: hidden;
    background: #fff;
    .header-ul {
        width: 100%;
        height: 0.8rem;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        background: #fff;
        .select-li {
            border-bottom: 2px solid rgba(0, 0, 0, 1);
            color: rgba(0, 0, 0, 1);
            font-weight: bold;
        }
        li {
            line-height: 0.8rem;
            color: #666;
            span {
                display: block;
                font-size: 0.28rem;
                /* font-weight: 400; */
                width: 1.1rem;
                text-align: center;
            }
        }
    }
    .account-ul {
        width: 100%;
        overflow: hidden;
        margin-top: 0.8rem;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.23rem 0.22rem 0.23rem 0.28rem;
            border-bottom: 0.01rem solid #ebebeb;
            .left-title {
                font-size: 0.28rem;
                color: #000;
                display: block;
            }
            .left-spn {
                display: flex;
                flex-direction: column;
                max-width: 50%;
                .black-text {
                    font-size: 0.28rem;
                    display: block;
                    margin-bottom: 0.15rem;
                    font-weight: bold;
                    color: rgba(51, 51, 51, 1);
                    line-height: .28rem;
                    font-family: PingFang SC;
                }
                .gray-text {
                    font-size: 0.24rem;
                    color: #666;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }
                .date {
                    font-size: 0.26rem;
                    color: rgba(153, 153, 153, 1);
                    display: block;
                }
            }
            .right-spn {
                display: flex;
                flex-direction: column;
                text-align: right;
                .money {
                    font-size: 0.32rem;
                    color: rgba(255, 77, 77, 1);
                    display: block;
                    margin-bottom: 0.16rem;
                    line-height: .32rem;
                    font-weight: bold;
                    font-family: PingFang SC;
                }
                .red-color {
                    color: rgba(255, 77, 77, 1);
                }
            }
        }
    }
}