@import '../../../web_modules/wmkit/variable.css';
:local(.box) {
    border-top: 1px solid #ebebeb;
    li {
        padding: 10px 15px;
        border-bottom: 1px solid #ebebeb;
        color: #666;
        font-size: .28rem;
        line-height: 150%;
        span {
            width: 4px;
            height: 4px;
            background: #666;
            border-radius: 2px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
        .time {
            color: #999;
            margin-top: 5px;
        }
    }
}

:local(.box li.cur) {
    color: $theme-color;
    p {
        color: $theme-color;
    }
    span {
        background: $theme-color;
    }
}

.item-express-box {
    margin: 0 .2rem;
    box-shadow: 1px 2px 7px 0px rgba(4, 0, 0, 0.1);
    border-radius: 20px;
}

.line-item-express {
    display: flex;
    flex-direction: column;
    margin-left: .31rem;
}

.radio-icon {
    width: .16rem;
    height: .16rem;
}

.gray-line {
    margin-left: .06rem;
    width: .03rem;
    height: 1.39rem;
}

.line-between-content {
    margin: -.1rem .22rem 0 .22rem;
}