@import '../../../web_modules/wmkit/variable.css';

.login-box {
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
}

.logo {
  width: 100%;
  text-align: center;
  margin-top: 0.44rem;
  margin-bottom: 1rem;
  /* height: 35px; */
}

.logoImg {
  /* height: 35px; */
  width: 1.4rem;
  height: 1.4rem;
  background: rgba(216, 226, 240, 1);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.17);
}

.login-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.inputBox {
  border-bottom: 1px solid rgb(229, 229, 229);
  /* height: 35px; */
  height: 1.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  padding-right: 15px;
  flex: 1;


  font-family: PingFang SC;
  font-weight: 500;
  color: #999;

  &.eyes-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    img {
      /* font-size: 0.4rem; */
      /* color: #666; */
      /* font-weight: bold; */
      margin-left: 0.2rem;
      width: .3rem;
      height: .33rem;
    }
  }
}

.formInput {
  font-size: 0.28rem;
  line-height: 0.4rem;
  margin-left: 0.2rem;

  &.sendCodeInput {
    width: 55%;
  }
}

.findCode {
  text-align: right;
  height: 0.28rem;

  a {
    color: #999;
    font-size: 0.26rem;
  }
}

.login-btnBox {
  padding: 55px 15px 18px;
  text-align: center;
  img{
    width:100%;
  }
}

.login-btn {
  height: 0.9rem;
  border-radius: 22.5px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  border: none;
  /* background-color: #fa2550; */
  background: linear-gradient(135deg, #FF6A4D, #FF1A1A);
  background: -moz-linear-gradient(135deg, #FF6A4D, #FF1A1A);
  background: -webkit-linear-gradient(135deg, #FF6A4D, #FF1A1A);
  background: -ms-linear-gradient(135deg, #FF6A4D, #FF1A1A);
  background: -o-linear-gradient(135deg, #FF6A4D, #FF1A1A);
  border-radius: 43px;

  background-image: -moz-linear-gradient(157deg,
      rgb(249, 26, 83) 0%,
      rgb(255, 82, 64) 100%);
  background-image: -webkit-linear-gradient(157deg,
      rgb(249, 26, 83) 0%,
      rgb(255, 82, 64) 100%);
  background-image: -ms-linear-gradient(157deg,
      rgb(249, 26, 83) 0%,
      rgb(255, 82, 64) 100%);
  /* box-shadow: 0 10px 20px 0 rgba(250, 37, 80, 0.26); */
}

.register-account {
  text-align: center;
  font-size: 0.28rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: center; */
  width: 77%;
  justify-content: space-between;

  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}

.login-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;

  font-size: 0.32rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
  line-height: 16px;

  span {
    /* font-size: 0.28rem; */
    color: #999;
    padding-bottom: 0.16rem;

    &.curr {
      /* color: #000; */
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
    }
  }
}

.login-list {
  padding: 0 40px 20px 40px;
  display: flex;
  justify-content: space-around;
  /* margin-top: 10px; */

  a {
    text-align: center;

    img {
      width: 0.38rem;
      height: 0.3rem;
    }

    span {
      color: $theme-color;
      font-size: 0.22rem;
      display: block;

      margin-top: 0.2rem;
      color: #818181 !important;
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(129, 129, 129, 1);
    }
  }
}

.sendBtn {
  font-size: 0.7rem;
  color: $theme-color;
  border-left: 1px solid #e5e5e5;
  padding-left: 9px;
}


.footTitle {
  font-size: 0.22rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(129, 129, 129, 1);
  text-align: center;
  margin-bottom: 0.41rem;
}

.footTitle {

  p:before,
  p:after {
    content: "";
    position: absolute;
    background: #EEEEEE;
    width: 1rem;
    height: 1px;
    background:rgba(238,238,238,1);
    margin-top: 6px;
  }

  p:before {
    left: 23%;
    /*调整背景横线的左右距离*/
  }

  p:after {
    right: 23%;
  }
}