@import '../../../web_modules/wmkit/variable.css';
.member-header {
  height: 245px;
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
  text-align: center;
  h2 {
    color: #ffffff;
    font-size: .32rem;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
  }
  .store-vip {
    width: 162px;
    height: 162px;
    background: url('../img/circle.png') no-repeat;
    background-size: contain;
    display: inline-block;
    text-align: center;
    padding: 20px;
  }
}

.not-store-vip {
  width: 350px;
  height: 160px;
  background: url('../img/square.png') no-repeat;
  background-size: 100%;
  display: inline-block;
}

/*媒体查询*/

@media screen and (min-width:320px) and (max-width:321px) {
  .not-store-vip {
    width: 300px;
    height: 140px;
  }
}

.vip-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
  p {
    margin-bottom: 7px;
    font-size: .26rem;
    height: 0.3rem;
    overflow: hidden;
    &:last-child {
      font-size: .28rem;
      padding: 0 20px;
    }
  }
}

.welfare {
  border-bottom: 1px dashed #98d1f6;
  padding-bottom: 0;
  margin-bottom: 8px;
  font-size: .3rem;
  width: 100%;
  span {
    font-size: 0.88rem;
    margin-right: 5px;
  }
}

.rights-box {
  padding: 0 10px;
  background: #ffffff;
  margin-top: 10px;
  h2 {
    color: #333333;
    font-size: .28rem;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  p {
    padding: 3px;
    color: #999999;
    font-size: .26rem;
    line-height: 20px;
  }
  table {
    width: 100%;
    padding: 3px;
    margin-top: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    th {
      height: 30px;
      line-height: 30px;
      background: #fafafa;
      text-align: center;
      color: #666666;
      font-size: .26rem;
    }
    tr:not(:first-child) {
      border-bottom: 1px solid #ebebeb;
    }
    td {
      height: 35px;
      text-align: center;
      color: #333333;
      font-size: .26rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 35px;
    }
  }
}

.contact-supplier {
  padding: 16px;
  a {
    display: block;
    height: 45px;
    line-height: 43px;
    border: 1px solid $theme-color;
    color: $theme-color;
    font-size: .32rem;
    background: #ffffff;
    text-align: center;
  }
}