@import '../../../web_modules/wmkit/variable.css';

:local(.menuBar) {
  height: 40px;
  .item {
    color: #666;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3%;
    align-items: center;
    span {
      font-size: 0.24rem;
      margin-right: 5px;
    }
    i {
      font-size: 0.24rem;
      color: #6b6b6b;
    }
  }
}

:local(.menuContent) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: fixed !important;
  left: 0;
  top: 95px;
  width: 100%;
  height: 40px;
  z-index: 999;
}
/*营销新加内容*/
:local(.headerBg) {
  background-color: #FFF5F5;
  color: #333;
  font-size: 0.26rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  .info {
    height: 95px;
    padding: 5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    > p{
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
:local(.proTotal) {
  background-color: #fff;
  display: flex;
  border-top: 1px solid #ebebeb;
  align-items: center;
  /* padding-left: 10px; */
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  .info {
    color: #999;
    .criteria {
      display: flex;
      align-items: center;
      font-size: 0.28rem;
      i {
        color: $price-color;
      }
      span {
        color: $price-color;
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      font-size: 0.24rem;
      .icon-jinggao {
        margin-right: 5px;
        color: #ff9600;
      }
      .icon-success {
        margin-right: 5px;
        color: #56d474;
      }
    }
  }
  button {
    height: 45px;
    color: #fff;
    font-size: 0.28rem;
    text-align: center;
    line-height: 45px;
    padding: 0 15px;
    background: $new-theme-color;
  }
}
:local(.tabTtems) {
  background-color: #fff;
  .items {
    display: flex;
    flex-direction: row;
    padding: 5px;
    max-height: 235px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-wrap: wrap;
    .item {
      width: 46%;
      background: #fafafa;
      height: 35px;
      line-height: 35px;
      text-align: center;
      color: #333;
      font-size: 0.24rem;
      margin: 5px 2%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .items-btn {
    display: flex;
    img{
      justify-content: center;
      align-items: center;
    }
  }
}
.coupon-label p{
  background: url('../img/c-bg.png') 0 0 no-repeat;
}

.coupon-list {
  margin-top: .2rem !important;
}
