@import '../../../web_modules/wmkit/variable.css';
:local(.box) {
    /* height: 36px; */
    height: 1.5rem;
    margin-bottom: 10px;
    background: #fafafa;
}

.cart-header {
    top: .65rem!important;
}

.notice-bar {
    margin: .1rem auto 0;
    width: 6.9rem;
    height: 0.56rem;
    background: #fff;
    border-radius: 0.28rem;
    display: flex;
    align-items: center;
    font-size: 0.24rem;
    color: #666;
    position: fixed;
    left: 0;
    right: 0;
    padding-left: 0.36rem;
    overflow: hidden;
    white-space: nowrap;
    .notice-text {
        width: 5.5rem;
        overflow: hidden;
    }
    i {
        font-size: 0.36rem;
        display: inline-block;
        margin-right: 0.36rem;
    }
}

.purchase-head {
    /* background-color: #fff; */
    position: fixed;
    /* left: 0px; */
    top: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 36px;
    display: flex;
    font-size: 0.28rem;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    /* border-bottom: 1px solid #ebebeb; */
    .top-login-btn {
        width: 1.11rem;
        height: 0.49rem;
        display: inline-flex;
        margin-top: 0.3rem;
        margin-left: 0.3rem;
        margin-right: 0.2rem;
        /* padding: 2px 10px; */
        justify-content: center;
        align-items: center;
        color: #000;
        border: 1px solid #333;
        background-color: #fff;
        border-radius: 0.24rem;
        font-weight: bold;
        font-size: 0.26rem;
    }
    .edit-font {
        color: #333;
        padding: 10px;
        display: block;
    }
    .service {
        width: 0.41rem;
        height: 0.38rem;
        margin-right: 15px;
        margin-top: 0.3rem;
    }
}

.store-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    .store-name-sales {
        display: flex;
        flex: 1;
        align-items: center;
        width: 0;
        span {
            color: #333;
            font-size: 0.28rem;
            margin-left: 15px;
            margin-right: 2px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

:local(.check) {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
}

:local(.item) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    .goods-list .detail .title {
        -webkit-line-clamp: 2;
        font-size: 0.26rem;
        color: #333;
        font-weight: bold;
    }
    .goods-list {
        margin-top: 0;
        margin-bottom: 0.16rem;
    }
}

:local(.img) {
    width: 80px;
    height: 80px;
    border: 1px solid #ebebeb;
    margin-right: 10px;
}

:local(.spuImg) {
    width: 80px;
    height: 80px;
    border: 1px solid #ebebeb;
    margin-right: 10px;
}

.spu-item {
    border-top: 1px solid #ebebeb;
    background-color: #fff;
}

.spu-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
    .invalid-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        font-size: 0.24rem;
        background: rgba(0, 0, 0, 0.5);
        line-height: 80px;
        display: block;
    }
    &.no-item {
        .spu-title {
            color: #bcbcbc;
        }
        .no-img {
            position: relative;
            width: 80px;
            height: 80px;
            margin-right: 10px;
            .invalid-img {
                display: block;
            }
        }
    }
}

.spu-content {
    display: flex;
    margin-left: 15px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0;
}

.spu-title {
    font-size: 0.28rem;
    line-height: 120%;
    display: flex;
    flex: 1;
    padding-right: 10px;
    color: #333;
    height: 33px;
    overflow: hidden;
}

.spu-none {
    color: #bcbcbc;
}

.sku-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &.no-item {
        .sku-font,
        .sku-price {
            color: #bcbcbc;
        }
        .num-tips {
            display: inline-block;
            font-size: 0.26rem;
            padding-left: 10px;
        }
    }
}

.sku-detail {
    display: flex;
    flex: 1;
    border-top: 1px solid #ebebeb;
    margin-left: 15px;
    padding: 8px 10px 8px 0px;
}

.sku-content {
    display: flex;
    flex-direction: column;
    max-width: 63%;
}

.sku-font {
    color: #666666;
    font-size: 0.26rem;
    line-height: 120%;
    display: block;
    height: 30px;
    overflow: hidden;
}

.sku-price {
    color: $new-theme-color;
    font-size: 0.28rem;
    i {
        font-size: 0.28rem;
    }
    .commission {
        margin-left: 0.1rem;
        color: #333;
        font-size: 0.24rem;
    }
    .commission-disabled {
        color: #bcbcbc;
    }
}

.number-input {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

:local(.total) {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 5px;
    color: #939495;
    .totalPrice {
        color: #000;
        font-size: 0.28rem;
        margin-bottom: 2px;
        margin-right: -0.5rem;
        span {
            color: $price-color;
        }
        .commission {
            display: inline-block;
            transform: scale(0.83333);
            transform-origin: left center;
            margin-left: 0.1rem;
            font-size: 0.24rem;
            color: #333;
        }
    }
}

:local(.totalPrice) {
    font-size: 0.24rem;
    zoom: 0.8;
    span {
        color: #999;
        i {
            font-size: 0.28rem;
        }
    }
}

.discount-price {
    font-size: 0.24rem;
    display: block;
    padding-top: 5px;
}

.purchase-btn {
    display: flex;
    flex-direction: row;
}

.tips-black {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    width: 100%;
    left: 0;
    bottom: 96px;
    padding: 8px 12px;
    span {
        color: #fff;
    }
}

.spu-right {
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: flex-start;
    justify-content: space-between;
}

.invalid-head {
    margin-top: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    font-size: 0.28rem;
    background: #ffffff;
    h4 {
        color: #333333;
        font-weight: 400;
    }
    a {
        color: $new-theme-color;
    }
}

:local(.simpleItems) {
    margin-left: -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding-left: 1.1rem;
    position: relative;
    height: 28px;
    padding-bottom: 0.3rem;
    padding-top: 0.2rem;
    /* &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: 15px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff8f9;
    } */
    .couponItem {
        font-size: 0.24rem;
        color: #999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0 10px 5px 10px; */
        .title {
            color: #FF4D4D;
            margin-right: 0.3rem;
            font-size: 0.26rem;
        }
        .info {
            max-width: calc(100vw - 125px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #333;
            font-size: 0.26rem;
        }
        .couponLeft {
            display: flex;
            flex-direction: row;
        }
        .couponRight {
            font-size: 0.24rem;
            align-items: center;
            display: flex;
        }
    }
}

.coupon-panel-title {
    height: 0.9rem;
    font-size: 0.24rem;
    color: #999;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.coupon-panel-list {
    overflow-x: hidden;
    /* overflow-y: scroll; */
    /* max-height: calc(100vh * 0.8 - 1.78rem); */
    .item {
        display: flex;
        flex: 1;
        flex-direction: row;
        margin-bottom: 0.2rem;
        position: relative;
        .left {
            width: 2.34rem;
            height: 2rem;
            padding-right: 9px;
            background-size: 100% 100%;
            text-align: center;
            color: #fff;
            background-image: url('../img/bg1.png');
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 12px 10px 12px 5px;
            .money {
                font-size: 0.36rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                .money-text {
                    font-size: 0.7rem;
                }
            }
            .left-tips {
                font-size: 0.24rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 1.42rem;
                height: 0.82rem;
            }
        }
        .right {
            width: calc(100% - 2.34rem);
            background-color: #fff;
            padding: 0 0.1rem;
            color: #000;
            box-shadow: 1px 7px 12px -6px #e8e8e8;
            height: 2rem;
            display: flex;
            flex-direction: row;
            border-radius: 0 4px 4px 0;
            .right-info {
                font-size: 0.26rem;
                color: #333;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                width: 55%;
                padding: 0.28rem 0.08rem 0.28rem 0;
                .right-top {
                    display: flex;
                    align-items: center;
                    i {
                        font-size: 0.22rem;
                        color: #fff;
                        display: flex;
                        background: linear-gradient(135deg, rgba(255, 106, 77, 1), rgba(255, 26, 26, 1));
                        padding: 4px 6px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 14px;
                        margin-right: 5px;
                        font-style: initial;
                        line-height: 0.24rem;
                    }
                    p {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        width: 0;
                        span {
                            font-size: 0.2rem;
                            color: #000;
                            display: inline-block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            width: 100%;
                            margin-top: 2px;
                        }
                    }
                    a {
                        color: #999;
                        display: inline-block;
                        font-size: 0.32rem;
                        vertical-align: middle;
                        margin-top: -2px;
                    }
                }
                .range-box {
                    font-size: 0.2rem;
                    display: flex;
                    span {
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: calc(100% - 0.85rem);
                        vertical-align: middle;
                    }
                }
                .bottom-box {
                    font-size: 0.22rem;
                    color: #999;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                }
            }
            .operat-box {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0.34rem 0 0.22rem 0;
                &.colum-center {
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: flex-end;
                    p {
                        font-size: 0.24rem;
                        color: #000;
                        &.coupon-time {
                            font-size: 0.32rem;
                            color: $new-theme-color;
                        }
                    }
                    a {
                        display: inline-flex;
                        width: 1.45rem;
                        height: 0.48rem;
                        color: #FF4D4D;
                        border: 1px solid #FF4D4D;
                        font-size: 0.26rem;
                        justify-content: center;
                        align-items: center;
                        &.get-now {
                            color: #FF4D4D;
                            border-color: #FF4D4D;
                        }
                    }
                    img {
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                }
                .gray-state {
                    background-image: url('../img/gray.png');
                    width: 1.2rem;
                    height: 1.2rem;
                    background-size: 100% 100%;
                    text-align: center;
                    line-height: 1.2rem;
                    color: #999;
                    font-size: 0.2rem;
                }
                a {
                    padding: 0.07rem 0.15rem;
                    border-radius: 0.4rem;
                    font-size: 0.2rem;
                    color: $new-theme-color;
                    border: 1px solid $new-theme-color;
                }
            }
            &.now-get {
                .right-info {
                    .right-top,
                    .range-box {
                        width: calc(100% + 1.4rem);
                    }
                }
                .operat-box {
                    justify-content: flex-end;
                }
            }
        }
        &.store-item {
            .left {
                background-image: url('../img/coupon-store.png');
            }
            .right {
                .right-top {
                    i {
                        background-color: #cfa864;
                    }
                }
            }
        }
        &.freight-item {
            .left {
                background-image: url('../img/coupon-freight.png');
            }
            .right {
                .right-top {
                    i {
                        background-color: #fa591f;
                    }
                }
            }
        }
        &.gray-item {
            .left {
                background-image: url('../img/coupon-invalid.png');
            }
            .right-top {
                i {
                    background-color: #c7c7c7;
                }
                p {
                    span {
                        color: #999;
                    }
                }
            }
            .range-box,
            .bottom-box {
                width: calc(100% - 1.09rem);
                color: #999;
            }
        }
    }
}

.storeItems {
    margin-bottom: 10px;
}

.head-header {
    height: 1.5rem !important;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    background-color: #fafafa !important;
    z-index: 200 !important;
    width: 100% !important;
}

.list-mt {
    margin-top: 1.5rem !important;
}

html {
    background-color: #fafafa !important;
}