.pic-content {
    background: #ffffff;
    padding: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin-bottom: 10px;
    &:first-child {
        border-top: 0;
    }
    h4 {
        color: #333333;
        font-size: 0.28rem;
        font-weight: 400;
        margin: 0;
        padding-bottom: 10px;
    }
}

.pic-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    >div {
        /* border: 1px solid #ebebeb; */
        width: 1.12rem;
        height: 1.12rem;
        margin-right: 10px;
        margin-bottom: 10px;
        img {
            width: 1.1rem;
            height: 1.1rem;
        }
    }
}

.tab-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.picNone {
    text-align: center;
    img {
        width: 200px;
    }
    p {
        color: #333333;
        font-size: 0.3rem;
        line-height: 180%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}

.profile-div {
    display: flex;
    flex-direction: column;
    padding: 0.39rem 0.5rem;
    border-bottom: 1px solid #ebebeb;
    .current-ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .current-li {
            display: flex;
            flex-direction: column;
            align-items: center;
            .up-text {
                color: #000;
                font-size: 0.32rem;
                margin-bottom: 0.08rem;
            }
            .down-text {
                color: #333333;
                font-size: 0.24rem;
                transform: scale(0.83);
            }
            .bottom-text {
                color: #666;
                font-size: 0.24rem;
                transform: scale(0.83);
                margin-top: 0.18rem;
            }
        }
        .line1 {
            width: 1px;
            height: 0.74rem;
            background: #ebebeb;
            margin: 0 0.28rem;
        }
        .line2 {
            width: 1px;
            height: 0.74rem;
            background: #ebebeb;
            margin: 0 0.28rem;
        }
    }
}

.profile-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    padding: 15px 14px;
    .left-spn {
        color: #333333;
        font-size: 0.28rem;
    }
    img {
        width: .4rem;
        height: .4rem;
    }
}


/* 二维码弹窗 */

.erweima-pop {
    width: 100%;
    height: 100vh;
    background: rgba(000, 000, 000, 0.5);
    position: fixed;
    top: 0;
    z-index: 101;
    display: flex;
    flex-direction: row;
    align-items: center;
    .white-layer {
        width: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.25rem 1rem;
        .store-name {
            font-size: 0.28rem;
            color: #333;
        }
        .erweima {
            height: calc(100vw - 2.5rem);
            margin: 0.25rem 0;
        }
        .scan {
            font-size: 0.26rem;
            color: #666;
        }
    }
}