@import '../../../web_modules/wmkit/variable.css';
.member-header {
    height: 3.8rem;
    width: 100%;
    background: url('../img/bg.png') no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        color: #ffffff;
        font-size: 0.32rem;
        font-weight: 400;
        padding-top: 25px;
        padding-bottom: 15px;
        text-align: center;
    }
    .store-vip {
        width: 2.08rem;
        height: 2.08rem;
        background: url('../img/circle.png') no-repeat;
        background-size: contain;
        display: inline-block;
        text-align: center;
        padding: 20px;
    }
    .vip-text {
        color: #fff;
        font-size: 0.26rem;
        line-height: 0.3rem;
        margin-top: .36rem;
        &:last-child {
            margin-top: 0.1rem;
        }
    }
}

.not-store-vip {
    width: 350px;
    height: 160px;
    background: url('../img/square.png') no-repeat;
    background-size: 100%;
    display: inline-block;
}


/*媒体查询*/

@media screen and (min-width: 320px) and (max-width: 321px) {
    .not-store-vip {
        width: 300px;
        height: 140px;
    }
}

.vip-box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
    p {
        margin-top: .04;
        font-size: 0.26rem;
        overflow: hidden;
        padding: 0 20px;
    }
}

.welfare {
    /* border-bottom: 1px dashed #fff; */
    padding-bottom: 0;
    margin-bottom: 8px;
    font-size: 0.3rem;
    width: 100%;
    span {
        font-size: 0.6rem;
        margin-right: 5px;
        /* background: linear-gradient(135deg, rgba(248, 208, 134, 1) 0%, rgba(255, 236, 203, 1) 51.025390625%, rgba(229, 194, 128, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        color: rgba(67, 241, 201, 1);
    }
}

.rights-box {
    padding: 0 10px;
    background: #ffffff;
    margin-top: 10px;
    h2 {
        color: #333333;
        font-size: 0.28rem;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    >p {
        padding: 3px;
        color: #999999;
        font-size: 0.26rem;
        line-height: 20px;
    }
    table {
        width: 100%;
        padding: 3px;
        margin-top: 10px;
        border-collapse: collapse;
        table-layout: fixed;
        th {
            height: 30px;
            line-height: 30px;
            background: #fafafa;
            text-align: center;
            color: #666666;
            font-size: 0.26rem;
        }
        tr:not(:first-child) {
            border-bottom: 1px solid #ebebeb;
        }
        td {
            height: 35px;
            text-align: center;
            color: #333333;
            font-size: 0.26rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 35px;
            >p {
                line-height: 0.28rem;
            }
        }
    }
}

.contact-supplier {
    margin-top: .6rem;
    display: flex;
    justify-content: center;
    a {
        display: block;
        height: .8rem;
        width: 4.6rem;
        line-height: .8rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.32rem;
        background: #ffffff;
        text-align: center;
        background: linear-gradient(135deg, rgba(255, 106, 77, 1), rgba(255, 26, 26, 1));
        border-radius: .4rem;
    }
}