/* 邀请好友页面 */

.pop-div {
    width: 100%;
    height: calc(100vh);
    background: #f7f1eb;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    .store-informat {
        position: absolute;
        left: 0.27rem;
        top: 0.69rem;
        display: flex;
        align-items: center;
        .heard-pointer {
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 100%;
            margin-right: 0.14rem;
        }
        .store-container {
            display: flex;
            flex-direction: column;
            .store-name {
                font-size: 0.28rem;
                color: #000;
                font-weight: 400;
                display: block;
                margin-bottom: 0.13rem;
            }
            .store-daren {
                width: 1.3rem;
                height: 0.32rem;
                font-size: 0.24rem;
                color: #e4c137;
                background: #000;
                line-height: 0.32rem;
                text-align: center;
                border-radius: 0.2rem;
            }
        }
    }
    .f-size {
        font-size: 0.6rem;
    }
    .close {
        position: absolute;
        right: 0.45rem;
        top: 0.75rem;
    }
    .div-box {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
        background: #f7f1eb;
        .invit-img {
            width: 67%;
            padding-top: 62%;
            background: url('../img/invit-img.png') no-repeat;
            background-size: cover;
            margin: 0 auto;
        }
        .invit-title {
            font-size: 0.42rem;
            font-weight: 400;
            color: #333;
            text-align: center;
            display: block;
            margin-top: 0.35rem;
            margin-bottom: 0.2rem;
        }
        .invit-text1 {
            font-size: 0.32rem;
            color: #333;
            display: block;
            text-align: center;
            margin-bottom: 0.35rem;
        }
        .invit-icon {
            width: 1.58rem;
            height: 1.58rem;
            border-radius: 100%;
            margin: 0 auto 0.2rem auto;
            display: block;
        }
        .invit-text2 {
            font-size: 0.24rem;
            color: #333;
            display: block;
            text-align: center;
        }
    }
    .bottom-ul {
        width: 100%;
        height: 2rem;
        background: rgba(000, 000, 000, 0.4);
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            .wecat-icon {
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                background: url('../img/wecat.png') no-repeat;
                background-size: 100% 100%;
            }
            .circle-icon {
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                background: url('../img/circle.png') no-repeat;
                background-size: 100% 100%;
            }
            .img-icon {
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                background: url('../img/img.png') no-repeat;
                background-size: 100% 100%;
            }
            span {
                font-size: 0.24rem;
                color: #fff;
                margin-top: 0.1rem;
            }
        }
    }
}


/*店铺*/

.shop-head {
    .shop-head-info .shop-head-info-name {
        color: #333333;
    }
    .shop-head-info-name {
        font-weight: bold;
        font-size: 0.28rem;
    }
    .shop-head-btns .shop-head-btn {
        padding: 0 0.284rem !important;
        color: #333333;
        img {
            margin-bottom: 0.05rem;
            width: 0.3rem;
        }
    }
}


/*商品*/

.listView {
    border-radius: 0.3rem;
    /* margin: 0 0.2rem; */
}

.goods-list {
    display: flex;
    align-items: center;
    .img-box {
        /* transform:scale(1.2,1.3); */
        margin: 0 0.3rem;
    }
    .bottom {
        .Qhuo img {
            /* padding-top: 0.2rem; */
            margin-top: 0.1rem;
            /* margin-bottom: 0.1rem; */
            width: 1rem;
            margin-right: 0.15rem;
        }
        .social-btn-box img {
            padding-top: 0.2rem;
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
            width: 1.25rem;
            margin-right: 0.15rem;
        }
    }
}

.no-more-tips {
    background: #fff;
}

.fenxiang {
    position: absolute;
    /* z-index: 99999999; */
    /* background: black; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sssimg {
        height: 4.1rem;
        width: 5.1rem;
        background-repeat: round;
        border-radius: 10px 10px 0 0;
    }
    .content-fenxiang {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* align-items: center; */
        /* width: 4.5rem; */
        .bottom-price {
            margin: 0.15rem 0 0.15rem 0.15rem;
            text-align: left;
            .price {
                font-size: 0.37rem;
            }
        }
    }
    .goodsTitle {
        font-size: 0.28rem;
        text-align: left;
        margin: 0 0.2rem 0 0.2rem;
        line-height: 0.45rem;
        color: #444;
        width: 5.1rem;
    }
    .anniu {
        display: flex;
        justify-content: space-between;
        div img {
            height: .38rem;
            width: 0.43rem;
            margin: 0 0 0.2rem 0;
        }
        img {
            width: 1.4rem;
            height: 1.4rem;
            margin: .2rem;
        }
    }
    .quxiao {
        display: -ms-flexbox;
        z-index: 9999;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        background: rgb(255, 255, 255, 1);
        width: 100%;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        text-align: center;
        .yuanquan {
            margin: .2rem;
            border-radius: 14px;
            border: 1px solid;
            width: .4rem;
            height: .4rem;
            color: #fff;
            text-align: center;
            line-height: .4rem;
            font-size: 0.5rem;
            transform: rotate(45deg) scale(1.3);
        }
        .tupian {
            height: 2.46rem;
            display: flex;
            justify-content: space-around;
            .tupiandiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            img {
                margin-bottom: .29rem;
                width: .79rem;
                height: .64rem;
            }
        }
        .wenzi {
            border-top: 1px solid;
            height: .9rem;
            line-height: .9rem;
        }
    }
}

.fenxiang2 {
    position: absolute;
    /* z-index: 99999999; */
    /* background: black; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sssimg {
        height: 4.1rem;
        width: 5.1rem;
        background-repeat: round;
        border-radius: 10px 10px 0 0;
    }
    .content-fenxiang {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* align-items: center; */
        /* width: 4.5rem; */
        .bottom-price {
            margin: 0.15rem 0 0.15rem 0.15rem;
            text-align: left;
            .price {
                font-size: 0.37rem;
            }
        }
    }
    .goodsTitle {
        font-size: 0.28rem;
        text-align: left;
        margin: 0 0.2rem 0 0.2rem;
        line-height: 0.45rem;
        color: #444;
        width: 5.1rem;
    }
    .anniu {
        display: flex;
        justify-content: space-between;
        div img {
            height: .38rem;
            width: 0.43rem;
            margin: 0 0 0.2rem 0;
        }
        img {
            width: 1.4rem;
            height: 1.4rem;
            margin: .2rem;
        }
    }
    .quxiao {
        display: -ms-flexbox;
        z-index: 9999;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        background: rgb(255, 255, 255, 1);
        width: 100%;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        text-align: center;
        .yuanquan {
            margin: .2rem;
            border-radius: 14px;
            border: 1px solid;
            width: .4rem;
            height: .4rem;
            color: #fff;
            text-align: center;
            line-height: .4rem;
            font-size: 0.5rem;
            transform: rotate(45deg) scale(1.3);
        }
        .tupian {
            height: 2.46rem;
            display: flex;
            justify-content: space-around;
            .tupiandiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            img {
                margin-bottom: .29rem;
                width: .79rem;
                height: .64rem;
            }
        }
        .wenzi {
            border-top: 1px solid;
            height: .9rem;
            line-height: .9rem;
        }
    }
}

.motaikuan {
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}