@import '../../../../web_modules/wmkit/variable.css';
.header1 {
    height: 4rem;
    background: url('../img/blackground.png') no-repeat;
    width: 100%;
    background-size: 100% 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .red-bj {
        /* width: 5.73rem; */
        width: 100%;
        height: 3.5rem;
        /* background: url('../img/red-bj.png') no-repeat; */
        background-size: 100% 100%;
        margin-bottom: 0.01rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .money {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            /* margin-top: 0.5rem; */
            /* color: rgba(244, 205, 137, 1); */
            .unit {
                font-size: 0.3rem;
                color: #F8D086;
                font-weight: 400;
            }
            .number {
                font-size: 0.6rem;
                /* color: #F8D086; */
                background-image: -webkit-linear-gradient(right, #F8D086, #FFECCB, #E5C280);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 800;
                margin-left: 0.1rem;
            }
            .unit1 {
                font-size: 0.26rem;
                color: #fff;
                font-weight: 400;
            }
            .number1 {
                font-size: 0.5rem;
                color: #fff;
                font-weight: 800;
                margin-left: 0.1rem;
            }
        }
        .cash-balance {
            display: block;
            text-align: center;
            font-size: 0.28rem;
            /* color: #fff; */
            font-weight: 400;
            margin-top: 0.15rem;
            margin-bottom: 0.26rem;
            transform: scale(0.833);
            color: rgba(244, 205, 137, 1);
        }
        .settle-ul {
            background: rgba(255, 255, 255, 1);
            box-shadow: 1px 2px 20px 0px rgba(4, 0, 0, 0.1);
            border-radius: .1rem;
            display: flex;
            justify-content: space-between;
            padding: 0 1rem;
            margin: 0rem .1rem 0;
            height: 81.6px;
            .li-box {
                height: 1.6rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .rmb {
                    font-size: 0.3rem;
                    /* color: #fff; */
                    color: #000;
                    font-weight: bold;
                    margin-bottom: 0.1rem;
                }
                .name {
                    font-size: 0.3rem;
                    color: #333;
                    color: rgba(0, 0, 0, 1);
                    font-weight: 400;
                    transform: scale(0.833);
                }
            }
            .line-center {
                display: flex;
                /* justify-content: center; */
                align-items: center;
                height: 1.6rem;
                .line {
                    width: 1px;
                    height: 0.47rem;
                    background: rgba(0, 0, 0, 1);
                }
            }
        }
    }
}


/* 列表 */

.balance-list {
    width: 100%;
    overflow: hidden;
    background: #fff;
    margin-top: .1rem;
    li {
        display: flex;
        height: 1.1rem;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        border-bottom: 0.01rem solid #ebebeb;
        .left-div {
            display: flex;
            align-items: center;
            margin-left: .1rem;
            img {
                width: .4rem;
                height: .4rem;
            }
            i {
                font-size: 0.5rem;
            }
            .text {
                font-size: 0.28rem;
                color: #333;
                margin-left: 0.15rem;
            }
        }
    }
}

.background-fill {
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: #ffffff;
}

.question {
    display: flex;
    flex-direction: row-reverse;
    padding-right: .4rem;
    margin-top: -.2rem;
    img {
        width: .4rem;
        height: .4rem;
    }
}

.drawwith-tip {
    display: flex;
    justify-content: center;
    .modal-box {
        z-index: 9;
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .tip {
        background-image: url('../img/tip.png');
        background-repeat: no-repeat;
        z-index: 99;
        position: fixed;
        width: 6rem;
        height: 9rem;
        background-size: contain;
        top: 1rem;
        .tip-button {
            margin-top: 7.2rem;
            display: flex;
            justify-content: center;
            img {
                width: 5rem;
                height: 1rem;
            }
        }
        .tip-cancel {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            img {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}