.cash-record {
    width: 100%;
    overflow: hidden;
    background: rgb(250, 250, 250);
    .header-ul {
        width: 100%;
        height: 0.8rem;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        background: #fff;
        .select-li {
            font-weight: bold;
            border-bottom: 2px solid rgba(0, 0, 0, 1);
            color: rgba(0, 0, 0, 1);
        }
        li {
            line-height: 0.8rem;
            padding: 0 0.14rem;
            color: #666;
            span {
                font-weight: bold;
                display: block;
                font-size: 0.28rem;
                font-weight: 400;
            }
        }
    }
    .cash-list {
        padding: 0 0.2rem;
        overflow: hidden;
        margin-top: 1.06rem;
        background: rgb(250, 250, 250);
        li {
            border-radius: .2rem;
            display: flex;
            flex-direction: column;
            /* border-top: 3px solid #000; */
            /* border-left: 1px solid #dcdee1; */
            /* border-right: 1px solid #dcdee1; */
            padding-top: 0.25rem;
            margin-bottom: 0.25rem;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.04);
            .up-span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.21rem;
                padding: 0 0.13rem 0 0.24rem;
                .order-num {
                    font-size: 0.3rem;
                    color: rgba(1, 1, 1, 1);
                    font-weight: bold;
                    line-height: .32rem;
                }
                .examine {
                    font-size: 0.28rem;
                    color: #000;
                    font-weight: 400;
                }
            }
            .center-span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.24rem;
                padding: 0 0.13rem 0 0.24rem;
                .date {
                    font-size: 0.26rem;
                    color: #666;
                    font-weight: 400;
                }
                .money {
                    color: #ff1f4e;
                    font-size: .32rem;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: rgba(255, 77, 77, 1);
                    line-height: .32rem;
                }
            }
            .down-div {
                display: flex;
                justify-content: flex-end;
                border-top: 0.01rem solid #ebebeb;
                margin: 0 0.13rem;
                padding: 0.13rem 0 0.2rem;
                .btn-div {
                    width: 1.44rem;
                    height: .48rem;
                    /* padding: 0.05rem 0.12rem; */
                    /* border: 0.02rem solid #000; */
                    font-size: 0.26rem;
                    color: rgba(255, 77, 77, 1);
                    font-weight: 400;
                    border: 1px solid rgba(255, 77, 77, 1);
                    /* background: linear-gradient(135deg, rgba(255, 106, 77, 1), rgba(255, 26, 26, 1)); */
                    border-radius: 24px;
                    line-height: .48rem;
                    text-align: center;
                }
            }
        }
    }
    .black-layer {
        width: 100%;
        height: calc(100vh);
        background: rgba(000, 000, 000, 0.5);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        .white-layer {
            width: 6.66rem;
            background: #fff;
            .payment-title {
                font-size: 0.36rem;
                font-weight: 400;
                color: #333;
                display: block;
                width: 100%;
                text-align: center;
                line-height: 1.2rem;
            }
            .down-btn {
                display: flex;
                /* border-top: 0.01rem solid #f3f3f3; */
                justify-content: space-evenly;
                margin: .5rem 0rem;
                .cancel-btn {
                    width: calc(50vw - 0.01rem);
                    line-height: 1rem;
                    border-right: 0.01rem solid #f3f3f3;
                    text-align: center;
                    font-size: 0.32rem;
                    color: #000;
                    font-weight: 400;
                }
                .submit-btn {
                    width: calc(50vw);
                    line-height: 1rem;
                    text-align: center;
                    font-size: 0.32rem;
                    color: #ff1f4e;
                    font-weight: 400;
                }
                .left-btn {
                    width: 1.7rem;
                    height: .6rem;
                    border: .03rem solid rgba(153, 153, 153, 1);
                    border-radius: 29px;
                    text-align: center;
                    line-height: .6rem;
                    color: rgba(153, 153, 153, 1);
                }
                .right-btn {
                    width: 1.7rem;
                    height: .6rem;
                    border: .03rem solid rgba(51, 51, 51, 1);
                    border-radius: 29px;
                    text-align: center;
                    line-height: .6rem;
                    color: rgba(51, 51, 51, 1)
                }
            }
        }
    }
}