@import '../../../web_modules/wmkit/variable.css';
.container {
    flex: 1;
    background: #fafafa;
}

.goods-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.26rem;
    width: 4.75rem;
    color: #333;
    font-weight: bold;
    margin-left: 0.3rem;
}

.group-buy-detail-tip {
    height: 1.16rem;
    padding-left: 0.24rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0.1rem;
    .tip-btn {
        width: 3.16rem;
        height: 0.46rem;
        border: 1px solid #ff1f4e;
        border-radius: 0.2rem;
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }
    .group-buy-tip-text {
        font-size: 0.2rem;
        color: #ff1f4e;
    }
}

.goods-container {
    background-color: #fafafa;
    height: 3.56rem;
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
    border-top: 1px solid #ebebeb;
    /* border-bottom: 1px solid #ebebeb; */
    .goods-img {
        width: 2.2rem;
        height: 2.2rem;
        min-width: 2.2rem;
    }
    .goods-right {
        height: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 0.34rem;
        margin-left: 0.1rem;
        .goods-spec {
            font-size: 0.2rem;
            color: #979797;
        }
        .goods-group {
            display: flex;
            flex-direction: row;
            width: 0.7rem;
            height: 0.3rem;
            border: 1px solid #43F1C9;
            border-radius: 0.04rem;
            justify-content: center;
            align-items: center;
            color: #43F1C9;
            font-size: 0.22rem;
            margin-left: 0.3rem;
            /* .group-num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0.3rem;
        height: 0.3rem;
        background-color: #ff1f4e;
        font-size: 0.2rem;
        color: #fff;
        text-align: center;
        vertical-align: center;
      }

      .group-buy {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0.9rem;
        height: 0.3rem;
        border: 1px solid #ff1f4e;
        color: #ff1f4e;
        font-size: 0.2rem;
      } */
        }
        .goods-sale-price {
            font-size: 0.4rem;
            color: #FF4D4D;
            font-weight: bold;
        }
        .goods-price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .sale-num {
                display: inline-block;
                margin-left: 0.22rem;
                font-size: 0.24rem;
                color: #6c6c6c;
            }
            .group-complete {
                display: inline-block;
                margin-right: 0.4rem;
                color: #333;
                font-size: 0.24rem;
            }
        }
    }
}

.bottom-container {
    width: 7.1rem;
    height: 3.56rem;
    margin: auto;
    padding: 0.3rem 0.34rem;
    box-shadow: 0 0.04rem 0.16rem 0 rgba(51, 51, 51, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 0.24rem;
    .group-avatar-container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        /*justify-content: space-between;*/
        justify-content: space-around;
        .avatar-list {
            display: flex;
            align-content: center;
            justify-content: center;
            .group-avatar {
                /* width: 0.8rem; */
                /* height: 0.8rem; */
                width: 1.0rem;
                height: 1.0rem;
                /* border-radius: 0.4rem; */
                border-radius: 50%;
                border: 1px solid #dddddd;
                /*margin-right: 0.3rem;*/
            }
            .pain-text {
                font-size: 0.26rem;
                color: #333;
            }
            .red-text {
                font-size: 0.26rem;
                color: #FF4D4D;
            }
        }
    }
    .buy-btn {
        /* height: 0.9rem; */
        width: 4.6rem;
        height: 0.8rem;
        /* background-color: #ff1f4e; */
        /* width: 100%; */
        /* background: linear-gradient(to right, #FF6A4D, #FF1A1A); */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* border-radius: 0.4rem; */
        /* color: #fff; */
        /* font-size: 0.32rem; */
        /* margin: 0.4rem auto 0; */
    }
}

.play-way-container {
    width: 1.6rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem 0;
    /* border-bottom: 1px solid #ebebeb; */
    display: flex;
    flex-direction: column;
    width: auto;
    /* background-color: #fff; */
    .step-header {
        display: flex;
        justify-content: space-between;
        padding: 0 0.2rem;
        .step-header-text {
            font-size: 0.26rem;
            color: #333;
            &.bold {
                font-size: 0.32rem;
                font-weight: bold;
            }
        }
        i {
            color: #999;
        }
    }
    .step {
        display: flex;
        flex-direction: row;
        height: 1.22rem;
        justify-content: space-around;
        align-items: center;
        .step-one {
            display: flex;
            align-items: center;
            justify-content: center;
            .step-num {
                /* width: 0.28rem; */
                /* height: 0.28rem; */
                width: 0.3rem;
                height: 0.3rem;
                border-radius: 50%;
                /* border-radius: 0.14; */
                background-color: #000000;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .step-text-container {
                margin-left: 0.14rem;
                display: flex;
                flex-direction: column;
                .step-text {
                    font-size: 0.26rem;
                    color: #333;
                }
            }
        }
        i {
            color: #333;
            font-size: 0.26rem;
        }
    }
}

.goods-list-box {
    width: 100vw;
    display: flex;
    background-color: #fff;
    /* padding: 0 0.18rem 0.22rem; */
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-content: flex-start;
}

.goods-item-box {
    display: flex;
    flex-direction: column;
    width: calc(50% - 0.1rem);
    /* height: 5.3rem; */
    width: 3.4rem;
    height: 4.98rem;
    /* border: 1px solid #ebebeb; */
    box-shadow: 0 0.08rem 0.16rem 0 rgba(51, 51, 51, 0.08);
    border-radius: 0.1rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    .list-img-box {
        /* border-bottom: 1px solid #ebebeb; */
        position: relative;
        width: 3.4rem;
        height: 3.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .list-num {
            position: absolute;
            color: #fff;
            bottom: 0;
            height: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #eb637c;
        }
    }
    .list-detail {
        height: 1.76rem;
        display: flex;
        flex-direction: column;
        padding: 0 0.2rem;
        justify-content: space-around;
        .list-bottom {
            display: flex;
            justify-content: space-between;
            .bottom-group-complete {
                font-size: 0.22rem;
                color: #999;
            }
            .group-pin {
                background: linear-gradient(#FF6A4D, #FF1A1A);
                /* width: 0.4rem; */
                /* height: 0.4rem; */
                width: 0.3rem;
                height: 0.3rem;
                color: #ffff;
                /* border-radius: 0.06rem; */
                border-radius: 0.04rem;
                font-size: 0.22rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


/* 直接参团 */

.join-group {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.2rem 0.1rem;
    background: #fff;
    margin: 0.2rem 0;
    border-bottom: 1px solid #ebebeb;
    .group-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .group-title {
            color: #333;
        }
        .see-more {
            display: flex;
            flex-direction: row;
            align-items: center;
            .more {
                color: #333;
                margin-right: 0.17rem;
            }
        }
    }
    .group-list {
        display: flex;
        flex-direction: column;
        padding-top: 0.4rem;
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0.2rem;
            .left-pointer {
                width: 0.8rem;
                height: 0.8rem;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
            .center-phone {
                font-size: 0.28rem;
                color: #333;
                flex: 1;
                margin-left: 0.22rem;
            }
            .right-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .left-info {
                    display: flex;
                    flex-direction: column;
                    margin-right: 0.22rem;
                    .text1 {
                        font-size: 0.24rem;
                        color: #333;
                        text-align: right;
                        span {
                            color: #ff1f4e;
                        }
                    }
                    .text2 {
                        font-size: 0.24rem;
                        color: #999;
                        transform: scale(0.83);
                        transform-origin: right;
                        text-align: right;
                    }
                }
                .right-btn {
                    width: 1.27rem;
                    background: #ff1f4e;
                    border-radius: 0.5rem;
                    text-align: center;
                    padding: 0.12rem 0 0.1rem;
                    color: #fff;
                    font-size: 0.24rem;
                }
            }
        }
    }
}


/* 参团人员 */

.join-group-modal {
    width: 100%;
    height: 100vh;
    background: rgba(000, 000, 000, 0.5);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .head {
        width: 5.48rem;
        height: 1.09rem;
        background: url('../img/head.png') no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 0.3rem;
    }
    .join-group-list {
        display: flex;
        flex-direction: row;
        height: 5.02rem;
        overflow: auto;
        background: #fff;
        width: 5.48rem;
        padding: 0.3rem 0.37rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow: hidden;
        li {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 0.4rem;
            width: 25%;
            .left-pointer {
                width: 0.8rem;
                height: 0.8rem;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
        }
    }
    .close {
        width: 0.86rem;
        height: 0.86rem;
        margin-top: 0.5rem;
        .close-img {
            width: 100%;
            height: 100%;
        }
    }
}


/* 等待成团 */

.wait-group-modal {
    width: 100%;
    height: 100vh;
    background: rgba(000, 000, 000, 0.5);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .head {
        width: 6.84rem;
        height: 1.74rem;
    }
    .wait-group-list {
        display: flex;
        flex-direction: column;
        padding-top: 0.4rem;
        height: 5.4rem;
        overflow: auto;
        background: #fff;
        width: 6.84rem;
        padding: 0.35rem 0.4rem 0.35rem 0.2rem;
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0.2rem;
            .left-pointer {
                width: 0.8rem;
                height: 0.8rem;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
            .center-phone {
                font-size: 0.28rem;
                color: #333;
                flex: 1;
                margin-left: 0.22rem;
            }
            .right-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .left-info {
                    display: flex;
                    flex-direction: column;
                    margin-right: 0.22rem;
                    .text1 {
                        font-size: 0.24rem;
                        color: #333;
                        text-align: right;
                        span {
                            color: #ff1f4e;
                        }
                    }
                    .text2 {
                        font-size: 0.24rem;
                        color: #999;
                        transform: scale(0.83);
                        transform-origin: right;
                        text-align: right;
                    }
                }
                .right-btn {
                    width: 1.27rem;
                    background: #ff1f4e;
                    border-radius: 0.5rem;
                    text-align: center;
                    padding: 0.12rem 0 0.1rem;
                    color: #fff;
                    font-size: 0.24rem;
                }
            }
        }
        li:last-child {
            margin-bottom: 0rem;
        }
    }
    .close {
        width: 0.86rem;
        height: 0.86rem;
        margin-top: 0.5rem;
        .close-img {
            width: 100%;
            height: 100%;
        }
    }
}

.motaikuan {
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.fenxiang {
    position: absolute;
    /* z-index: 99999999; */
    /* background: black; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sssimg {
        height: 4.1rem;
        width: 5.1rem;
        background-repeat: round;
        border-radius: 10px 10px 0 0;
    }
    .content-fenxiang {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* align-items: center; */
        /* width: 4.5rem; */
        .bottom-price {
            margin: 0.15rem 0 0.15rem 0.15rem;
            text-align: left;
            .price {
                font-size: 0.37rem;
            }
        }
    }
    .goodsTitle {
        font-size: 0.28rem;
        text-align: left;
        margin: 0 0.2rem 0 0.2rem;
        line-height: 0.45rem;
        color: #444;
        width: 5.1rem;
    }
    .anniu {
        display: flex;
        justify-content: space-between;
        div img {
            height: .38rem;
            width: 0.43rem;
            margin: 0 0 0.2rem 0;
        }
        img {
            width: 1.4rem;
            height: 1.4rem;
            margin: .2rem;
        }
    }
    .quxiao {
        display: -ms-flexbox;
        z-index: 9999;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        background: rgb(255, 255, 255, 1);
        width: 100%;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        text-align: center;
        .yuanquan {
            margin: .2rem;
            border-radius: 14px;
            border: 1px solid;
            width: .4rem;
            height: .4rem;
            color: #fff;
            text-align: center;
            line-height: .4rem;
            font-size: 0.5rem;
            transform: rotate(45deg) scale(1.3);
        }
        .tupian {
            height: 2.46rem;
            display: flex;
            justify-content: space-around;
            .tupiandiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            img {
                margin-bottom: .29rem;
                width: .79rem;
                height: .64rem;
            }
        }
        .wenzi {
            border-top: 1px solid;
            height: .9rem;
            line-height: .9rem;
        }
    }
}

.fenxiang2 {
    position: absolute;
    /* z-index: 99999999; */
    /* background: black; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sssimg {
        height: 4.1rem;
        width: 5.1rem;
        background-repeat: round;
        border-radius: 10px 10px 0 0;
    }
    .content-fenxiang {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* align-items: center; */
        /* width: 4.5rem; */
        .bottom-price {
            margin: 0.15rem 0 0.15rem 0.15rem;
            text-align: left;
            .price {
                font-size: 0.37rem;
            }
        }
    }
    .goodsTitle {
        font-size: 0.28rem;
        text-align: left;
        margin: 0 0.2rem 0 0.2rem;
        line-height: 0.45rem;
        color: #444;
        width: 5.1rem;
    }
    .anniu {
        display: flex;
        justify-content: space-between;
        div img {
            height: .38rem;
            width: 0.43rem;
            margin: 0 0 0.2rem 0;
        }
        img {
            width: 1.4rem;
            height: 1.4rem;
            margin: .2rem;
        }
    }
    .quxiao {
        display: -ms-flexbox;
        z-index: 9999;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        background: rgb(255, 255, 255, 1);
        width: 100%;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        text-align: center;
        .yuanquan {
            margin: .2rem;
            border-radius: 14px;
            border: 1px solid;
            width: .4rem;
            height: .4rem;
            color: #fff;
            text-align: center;
            line-height: .4rem;
            font-size: 0.5rem;
            transform: rotate(45deg) scale(1.3);
        }
        .tupian {
            height: 2.46rem;
            display: flex;
            justify-content: space-around;
            .tupiandiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            img {
                margin-bottom: .29rem;
                width: .79rem;
                height: .64rem;
            }
        }
        .wenzi {
            border-top: 1px solid;
            height: .9rem;
            line-height: .9rem;
        }
    }
}