.evaluation-big-image {
  width: 100%;
  overflow: hidden;
  li {
    height: calc(100vw - 0.4rem);
    margin-top: 0.2rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.evaluation-advert {
  border-top: 1px solid #ebebeb;
  padding-top: 0.25rem;
  display: flex;
  flex-direction: row;
  margin-top: 0.25rem;
  .left-advert-img {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid #ebebeb;
    margin-right: 0.2rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right-advert-content {
    display: flex;
    flex-direction: column;
    .up-text {
      font-size: 0.28rem;
      color: #333;
      display: block;
      margin-bottom: 0.12rem;
      overflow: hidden;
      width: calc(100vw - 2.2rem);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .center-text {
      font-size: 0.26rem;
      color: #999;
      display: block;
      margin-bottom: 0.58rem;
      .center-spn {
        margin: 0 0.1rem;
      }
    }
    .down-money {
      font-size: 0.3rem;
      color: #cb4255;
      display: block;
    }
  }
}
