@import '../../../../web_modules/wmkit/variable.css';

.levelPowerBox {
  margin-top: -0.24rem;
  position: relative;
  height: 2.76rem;
  background-color: transparent;
  .levelPower {
    position: absolute;
    top: 0;
    left: 0.24rem;
    right: 0.24rem;
    background-color: #fff;
    padding: 0.4rem 0;
    border-radius: 0.2rem;
    text-align: center;
    > p {
      font-size: 0.28rem;
      color: #000;
    }
  }
}
.levelContents {
  text-align: left;
  margin-top: 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  li {
    text-align: center;
    overflow: hidden;
    display: inline-block;
    width: 22%;
    height: 1.08rem;
    position: relative;
    font-size: 0.24rem;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0.64rem;
      height: 0.64rem;
      object-fit: contain;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
      position: absolute;
      top: 0.8rem;
      height: 0.28rem;
      left: 50%;
      transform: translateX(-50%);
    }
    &.dropShadow {
      img {
        top: -0.64rem;
        filter: drop-shadow(0px 0.64rem #ebebeb);
      }
      p {
        color: #ebebeb;
      }
    }
  }
}
.membersBuy {
  margin-top: 0.2rem;
  background-color: #fff;
  > p.b-1px-b {
    color: #000;
    font-size: 0.28rem;
    padding: 0.21rem 0.3rem;
  }
}
.points-mall {
  padding: 0.18rem 0.2rem;
  overflow: hidden;
  background: #fff;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

/* 热门兑换 */
.member-integral-exchange {
  width: 100%;
  display: flex;
  flex-direction: column;
  .up-box {
    padding: 0.23rem 0.28rem;
    margin-bottom: 0.1rem;
    text-align: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    margin-top: 0.2rem;
    span {
      margin-left: 10px;
      margin-right: 10px;
      color: #000;
      font-size: 0.28rem;
    }
  }
  .integral-list {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.2rem;
    .product-info {
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      .picture {
        width: 130px;
        height: 130px;
        margin-top: 0.1rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text1 {
        font-size: 0.28rem;
        color: #000;
        margin-top: 0.15rem;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
      .text2 {
        font-size: 0.28rem;
        color: #ff1f4e;
        margin: 0.1rem 0;
      }
      .lj-btn {
        width: 2rem;
        text-align: center;
        padding: 0.1rem 0 0.12rem;
        border: 1px solid #ff1f4e;
        border-radius: 0.3rem;
        font-size: 0.3rem;
        color: #ff1f4e;
        margin-bottom: 0.3rem;
      }
    }
  }
}
