.container-div {
    width: 100%;
    height: calc(100vh);
    background: #fafafa;
    .cash {
        height: 0.8rem;
        padding-left: 0.25rem;
        line-height: 0.8rem;
        font-size: 0.28rem;
        color: #333;
        /* background: #fff; */
        border-bottom: 1px solid #ebebeb;
    }
    .wecat-wallet {
        width: 100%;
        overflow: hidden;
        background: #fff;
        li {
            display: flex;
            height: 1rem;
            justify-content: space-between;
            align-items: center;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            border-bottom: 0.01rem solid #ebebeb;
            .left-div {
                display: flex;
                align-items: center;
                .text {
                    font-size: 0.28rem;
                    color: #333;
                    margin-left: 0.15rem;
                }
                .wecat-icon {
                    width: 0.44rem;
                    height: 0.40rem;
                }
            }
        }
    }
    .tips {
        font-size: 0.26rem;
        color: #999;
        line-height: 0.4rem;
        padding: 0.32rem 0.3rem 0 0.3rem;
    }
    .black-div {
        width: 100%;
        height: calc(100vh);
        background: rgba(000, 000, 000, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .white-div {
            width: 6.66rem;
            height: 2.7rem;
            background: #fff;
            .text {
                padding: 0.35rem;
                font-size: 0.36rem;
                color: #333;
                border-bottom: 0.01rem solid #f3f3f3;
                display: block;
                margin-bottom: 0.3rem;
                line-height: 0.5rem;
            }
            .sure-btn {
                font-size: 0.32rem;
                color: #ff1f4e;
                text-align: center;
            }
        }
    }
}