@import '../../variable.css';

.choose-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.choose-body {
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 80vh;
    width: 100%;
    background-color: #fff;
    z-index: 1003;
    outline: 0;
    border-radius: 20px 20px 0px 0px;
}

.choose-content {
    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        color: #000;
        z-index: 99;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding-left: 0.2rem; */
        height: 0.9rem;

        .normal-text {
            line-height: 0.9rem;
        }
    }

    .social-bottom {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.level-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 0.4rem;
    margin-bottom: 0.1rem;
}

.choose-top {
    padding: 0.3rem;
    flex-direction: row;
    display: flex;

    img {
        width: 2.24rem;
        height: 2.24rem;
        vertical-align: middle;
    }

    .title-box {
        margin-left: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title {
        /* color: #000; */
        font-size: 0.28rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        /*height: 19px;*/
        margin-bottom: 0.2rem;
        margin-right: 0.5rem;
        font-family: PingFang SC;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
    }

    .price {
        font-size: 0.36rem;
        color: $price-color;

        .delPrice {
            text-decoration-line: line-through;
            font-size: 0.26rem;
            /* color: #999; */
            color: #FF4D4D;
        }

        .commission {
            margin-left: 0.1rem;
            font-size: 0.24rem;
            color: #333;
        }
    }
}

.choose-center {
    padding-top: 0.15rem;
    padding-left: 0.3rem;
    overflow: auto;
    color: #333;
    -webkit-overflow-scrolling: touch;
    font-size: 0.28rem;
    max-height: calc(80vh - 3.36rem);

    .spec-box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .spec-title {
        min-width: 0.6rem;
        margin-right: 0.2rem;
    }

    .spec-item {
        display: flex;
        flex-direction: row;
        overflow-y: auto;
        color: #000;
        padding-top: 0.15rem;
        padding-bottom: 0.25rem;
        -webkit-overflow-scrolling: touch;
    }

    .spec-items {
        display: inline-block;
        cursor: pointer;
        line-height: 1;
        text-align: center;
        border: 1px solid #ebebeb;
        padding: 0.18rem 0.28rem;
        font-size: 0.24rem;
        margin-right: 0.2rem;
        word-break: keep-all;

        font-size: .24rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        border-radius: 1rem;

        &.checked {
            /* color: $new-theme-color; */
            /* border-color: $new-theme-color; */
            background: linear-gradient(135deg, rgba(255, 106, 77, 1), rgba(255, 26, 26, 1));

            color: #FFFFFF
        }

        &.invalid {
            /* color: #999; */
            /* background-color: #ebebeb; */
            pointer-events: none;
            background: rgba(245, 245, 245, 1);
            color: #333333
        }
    }

    .sku-title {
        margin-top: 0.35rem;
        margin-bottom: 0.3rem;
    }
}

.sku-num {
    padding-right: 0.2rem;
    padding-bottom: 0.3rem;
    color: #333;

    &.retail-num {
        margin-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    .sku-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .sku-name {
            font-size: 0.26rem;
            max-width: 2.1rem;
        }
    }

    .other-text {
        font-size: 0.24rem;
        display: inline-block;
        color: #9999;
        transform: scale(0.85);
        transform-origin: right center;
    }

    .sku-bottom {
        margin-top: 0.1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 0.28rem;
        color: #333;

        .bottom-price-box {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .price {
            font-size: 0.3rem;
            margin-right: 3px;
        }

        .showStep {
            cursor: pointer;
        }
    }

    .row-flex {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        >div {
            display: inline-block;
        }
    }
}

.step-body {
    position: absolute;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    bottom: 0.96rem;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    word-break: keep-all;
    padding: 0.3rem 0 0.3rem 0.2rem;

    .step-box {
        padding-right: 0.5rem;

        span {
            display: block;
        }

        .price {
            font-size: 0.36rem;
        }

        .delPrice {
            text-decoration-line: line-through;
            font-size: 0.26rem;
            color: #999;
            margin-top: 0.1rem;
        }

        .numText {
            margin-top: 0.1rem;
            font-size: 0.26rem;
        }
    }
}

.step-price-box {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: calc(100vw - 2.4rem);
    display: flex;
    flex-direction: row;
    margin-bottom: 0.1rem;
    word-break: keep-all;

    .step-box {
        padding-right: 0.5rem;

        span {
            display: block;
        }

        .price {
            font-size: 0.36rem;
        }

        .delPrice {
            text-decoration-line: line-through;
            font-size: 0.26rem;
            color: #999;
            margin-top: 0.1rem;
        }

        .numText {
            margin-top: 0.1rem;
            font-size: 0.26rem;
        }
    }
}

.b-1px-b:after {
    content: ' ';
    position: absolute;
    left: 0.2rem;
    bottom: 0;
    width: calc(100% - 0.4rem);
    height: 1px;
    border-bottom: 0.01rem solid #E5E5E5;
    color: #ebebeb;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
}

.myLable {
    font-size: .26rem !important;
    font-family: PingFang SC !important;
    font-weight: 500 !important;
    color: rgba(153, 153, 153, 1) !important;
    transform: none !important
}


.b-1px-b1{
    content: ' ';
    position: relative;
    left: -0.1rem;
    bottom: 0;
    width: calc(100% - 0.1rem);
    height: .01rem;
    border-bottom: 0.01rem solid #E5E5E5;
    color: #ebebeb;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
} 