@import '../../../web_modules/wmkit/variable.css';
:local(.menuBar) {
    height: 40px;
    .item {
        color: #666;
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
            font-size: 0.24rem;
            margin-right: 5px;
        }
        i {
            font-size: 0.24rem;
            color: #6b6b6b;
        }
    }
}

:local(.menuContent) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ebebeb;
    padding: 0 40px;
    background: #fff;
    position: fixed !important;
    left: 0;
    top: 48px;
    width: 100%;
    height: 40px;
    z-index: 999;
}

:local(.item) {
    width: 30%;
    background: #fafafa;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #333333;
    font-size: 0.24rem;
    margin-right: 3%;
    margin-bottom: 5px;
    margin-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid transparent;
}

:local(.selected) {
    width: 30%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff !important;
    margin-right: 3%;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* border-radius: 0.1rem ; */
    background: linear-gradient(to right, #FF6A4D, #FF1A1A);
}

.bottom {
    .bottom-price {
        .gray-price {
            color: #999;
        }
    }
    .QHuo img {
        padding-top: 0.2rem;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        width: 1rem;
        margin-right: 0.15rem;
    }
    .social-btn-box img {
        padding-top: 0.2rem;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        width: 1.25rem;
        margin-right: 0.15rem;
    }
}


/* 筛选 */

.filter-box {
    .filter-btns {
        img {
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 100%;
        }
    }
}


/*分享*/

.fenxiang {
    position: absolute;
    /* z-index: 99999999; */
    /* background: black; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sssimg {
        height: 4.1rem;
        width: 5.1rem;
        background-repeat: round;
        border-radius: 10px 10px 0 0;
    }
    .content-fenxiang {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* align-items: center; */
        /* width: 4.5rem; */
        .bottom-price {
            margin: 0.15rem 0 0.15rem 0.15rem;
            text-align: left;
            .price {
                font-size: 0.37rem;
            }
        }
    }
    .goodsTitle {
        font-size: 0.28rem;
        text-align: left;
        margin: 0 0.2rem 0 0.2rem;
        line-height: 0.45rem;
        color: #444;
        width: 5.1rem;
    }
    .anniu {
        display: flex;
        justify-content: space-between;
        div img {
            height: .38rem;
            width: 0.43rem;
            margin: 0 0 0.2rem 0;
        }
        img {
            width: 1.4rem;
            height: 1.4rem;
            margin: .2rem;
        }
    }
    .quxiao {
        display: -ms-flexbox;
        z-index: 9999;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        background: rgb(255, 255, 255, 1);
        width: 100%;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        text-align: center;
        .yuanquan {
            margin: .2rem;
            border-radius: 14px;
            border: 1px solid;
            width: .4rem;
            height: .4rem;
            color: #fff;
            text-align: center;
            line-height: .4rem;
            font-size: 0.5rem;
            transform: rotate(45deg) scale(1.3);
        }
        .tupian {
            height: 2.46rem;
            display: flex;
            justify-content: space-around;
            .tupiandiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            img {
                margin-bottom: .29rem;
                width: .79rem;
                height: .64rem;
            }
        }
        .wenzi {
            border-top: 1px solid;
            height: .9rem;
            line-height: .9rem;
        }
    }
}

.fenxiang2 {
    position: absolute;
    /* z-index: 99999999; */
    /* background: black; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sssimg {
        height: 4.1rem;
        width: 5.1rem;
        background-repeat: round;
        border-radius: 10px 10px 0 0;
    }
    .content-fenxiang {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* align-items: center; */
        /* width: 4.5rem; */
        .bottom-price {
            margin: 0.15rem 0 0.15rem 0.15rem;
            text-align: left;
            .price {
                font-size: 0.37rem;
            }
        }
    }
    .goodsTitle {
        font-size: 0.28rem;
        text-align: left;
        margin: 0 0.2rem 0 0.2rem;
        line-height: 0.45rem;
        color: #444;
        width: 5.1rem;
    }
    .anniu {
        display: flex;
        justify-content: space-between;
        div img {
            height: .38rem;
            width: 0.43rem;
            margin: 0 0 0.2rem 0;
        }
        img {
            width: 1.4rem;
            height: 1.4rem;
            margin: .2rem;
        }
    }
    .quxiao {
        display: -ms-flexbox;
        z-index: 9999;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        background: rgb(255, 255, 255, 1);
        width: 100%;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        text-align: center;
        .yuanquan {
            margin: .2rem;
            border-radius: 14px;
            border: 1px solid;
            width: .4rem;
            height: .4rem;
            color: #fff;
            text-align: center;
            line-height: .4rem;
            font-size: 0.5rem;
            transform: rotate(45deg) scale(1.3);
        }
        .tupian {
            height: 2.46rem;
            display: flex;
            justify-content: space-around;
            .tupiandiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            img {
                margin-bottom: .29rem;
                width: .79rem;
                height: .64rem;
            }
        }
        .wenzi {
            border-top: 1px solid;
            height: .9rem;
            line-height: .9rem;
        }
    }
}

.motaikuan {
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}