
:local(.card) {
  display:flex;
  border: 1px solid #ebebeb;
  border-radius: 4px 4px 0 0;
  padding: 10px;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
  /* &:before,&:after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: -3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ebebeb;
  } */
  &:after {
    right: -5px;
    left: auto;
  }
}

:local(.cardBox) {
  padding: 15px;
  padding-bottom: 84px;
}

:local(.title) {
  color: #000;
  font-size: .34rem;
  font-weight: bold;
  word-break: break-all;
  overflow: hidden;
  line-height: 1.3;
}

:local(.name) {
  color: #000;
  font-size: .26rem;
  margin-top: 5px;
  word-break: break-all;
  margin-bottom: 5px;
  line-height: 1.5;
}

:local(.acount) {
  display: flex;
  flex-direction: row;
  color: #999;
  word-break: break-all;
  justify-content: space-between;
  align-items: center;
}

:local(.num) {
  color : #939495;
  font-size: .24rem;
}

:local(.btn) {
  min-width: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* i{
    font-size: .4rem;
    color : #FF6A4D;
    margin-left: 25px;
  } */
  img{
    width:0.3rem;
    height: 100%;
  }
}
.register-btn .btn{
  background: linear-gradient(135deg, #FF6A4D, #FF1A1A) 
}

