.head-tip{
  padding: 16px 14px;
   display: flex;
   align-items: flex-end;
   img{
    width:0.3rem;
    height: 100%;
    margin-right: 0.1rem;
   }
   span{color: #333;
     font-size: 0.26rem;
   }
}
.invoice-user {
  padding: 14px;
  border-bottom: 1px solid #ebebeb;
  h4{
    color: #333333;
    font-size: .28rem;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 400;
  }
}
.local-tips i.icon-dui {
  color: #FF4D4D !important;
}
.register-box{
  .form-input{
    background: #fff;
    /* color:#333 !important; */
  }
}
.register-btn .myBtn{
  border-radius: 0 !important;
}

.user-invloice-box {
    width: 100% !important;
    margin-bottom: .3rem;
}

.user-invloice-btn {
    padding: 0 !important;
    width: 100% !important;
    position: fixed;
}
