@import '../../../web_modules/wmkit/variable.css';
.service-main {
  background: #fafafa;
  height: calc(100% - 48px);
  position: relative;
  overflow-y: auto;
}
.service-title {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #666;
  font-size: .24rem;
}
.service-list {
  border-top: 1px solid #ebebeb;
  background-color: #ffffff;
  .item {
    border-bottom: 1px solid #ebebeb;
    padding: 12px 5px 12px 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .icon-item {
      color: #00baff;
      font-size: .44rem;
    }
    span {
      display: flex;
      flex: 1;
      text-align: left;
      color: #333;
      font-size: .28rem;
      padding-left: 11px;
    }
    .arrow {
      color: #999;
      font-size: .36rem;
    }
  }
}
