.coupon-label{
  height: .45rem;
  background-size: cover !important;
  background: url('./img/get-coupon.png') 0 0 no-repeat;
}
.coupon-label p{
  background: none !important;
  padding: 0 .31rem 0 .26rem !important;
}