@import '../../../web_modules/wmkit/variable.css';

/* .jumpMain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
    z-index: 9999;
    img {
        width: 100%;
        height: 100%;
    }
    & .jumpDiv {
        position: absolute;
        top: .6rem;
        right: .43rem;
        & .jump {
            width: 1.6rem;
            height: .6rem;
            background: rgba(255, 255, 255, 1);
            border: 2px solid rgba(230, 230, 230, 1);
            border-radius: .29rem;
            font-size: .26rem;
            color: #999999;
            font-family: PingFang SC;
            span {
                color: #FF1A1A
            }
        }
    }
} */

.guanggao {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    .xx {
        border: 1px solid #fff;
        color: #fff;
        border-radius: 50%;
        width: .5rem;
        height: .5rem;
        text-align: center;
        line-height: .5rem;
        margin-top: .2rem
    }
    img {
        width: 5.9rem;
        height: 7.66rem;
        border-radius: .4rem;
    }
}