@import '../../../web_modules/wmkit/variable.css';
.head-img {
  margin: 0.2rem;
  height: 2.89rem;
  padding-top: 0.25rem;
  width: 7.1rem;
  position: relative;
}
.position-img{
  position: absolute;
  left:0;
  top:0;
  width: 7.1rem;
  height: 2.89rem;
}
.top-span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.2rem;
  position: absolute;
  right: 0;
}
.explain {
  font-size: 0.24rem;
  color: #fff;
  margin-right: 0.15rem;
  display: block;
}
.icon-width {
  font-size: 0.3rem;
  color: #fff;
}
.center-title {
  display: flex;
  justify-content: center;
  font-size: 0.4rem;
  color: #fff;
  margin-bottom: 0.4rem;
  margin-top: 0.36rem;
}
.down-span {
  display: flex;
  justify-content: space-around;
  padding: 0 1.2rem;
}
.text {
  font-size: 0.28rem;
  color: #fff;
}
.invit-btn {
  background: #fafafa;
  padding: 0.24rem 0.17rem 0 0.17rem;
  border-bottom: 0.01rem solid #ebebeb;
.btn {
  background: $price-color;
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  line-height: 0.9rem;
  height: 0.9rem;
}
.btn-text {
  font-size: 0.28rem;
  color: #000;
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
.number {
  color: $price-color;
}
}
}
.friend-list {
  display: flex;
  flex-direction: column;
  .list-ul {
    width: 100%;
    overflow: hidden;
    li {
      display: flex;
      padding: 0.2rem;
      border-bottom: 0.01rem solid #ebebeb;
      align-items: center;
      .portrait {
        width: 0.8rem;
        border-radius: 100%;
        height: 0.8rem;
      }
      .div-text {
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 1.2rem);
        .left-text {
          display: flex;
          flex-direction: column;
          padding-left: 0.17rem;
          .name {
            font-size: 0.28rem;
            color: #000;
            margin-bottom: 0.16rem;
            max-width: 3.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .money {
            font-size: 0.24rem;
            color: #000;
            max-width: 3.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .number {
              color: $price-color;
            }
          }
        }
        .right-text {
          display: flex;
          flex-direction: column;
          text-align: right;
          .date {
            font-size: 0.24rem;
            color: #666;
            margin-bottom: 0.17rem;
          }
          .order {
            font-size: 0.24rem;
            color: #333;
          }
        }
      }
    }
  }
}
/* 邀请好友页面 */
.pop-div {
  width: 100%;
  height: calc(100vh);
  background: #f7f1eb;
  position: fixed;
  left: 0;
  top: 0;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
  .f-size {
    font-size: 0.6rem;
  }
  .close {
    position: absolute;
    right: 0.45rem;
    top: 0.75rem;
  }
  .bj-img{
    width: 80%;
    display: block;
    height: 7rem;
  }
  .div-box {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    position: absolute;
    margin-top: 2rem;
    .invit-img {
      width: 67%;
      padding-top: 62%;
      background: url('../img/invit-img.png') no-repeat;
      background-size: cover;
      margin: 0 auto;
    }
    .invit-title {
      font-size: 0.42rem;
      font-weight: 400;
      color: #333;
      text-align: center;
      display: block;
      margin-top: 0.35rem;
      margin-bottom: 0.2rem;
    }
    .invit-text1 {
      font-size: 0.32rem;
      color: #333;
      display: block;
      text-align: center;
      margin-bottom: 0.35rem;
    }
    .invit-icon {
      width: 1.58rem;
      height: 1.58rem;
      border-radius: 100%;
      margin: 0 auto 0.2rem auto;
      display: block;
    }
    .invit-text2 {
      font-size: 0.24rem;
      color: #333;
      display: block;
      text-align: center;
    }
  }
  .bottom-ul {
    width: 100%;
    height: 2rem;
    background: rgba(000, 000, 000, 0.4);
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      .wecat-icon {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: url('../img/wecat.png') no-repeat;
        background-size: 100% 100%;
      }
      .circle-icon {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: url('../img/circle.png') no-repeat;
        background-size: 100% 100%;
      }
      .img-icon {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: url('../img/img.png') no-repeat;
        background-size: 100% 100%;
      }
      span {
        font-size: 0.24rem;
        color: #fff;
        margin-top: 0.1rem;
      }
    }
  }
}
