@import '../../../web_modules/wmkit/variable.css';
.jumpMain {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}