@import '../../../web_modules/wmkit/variable.css';
.store-sorts-item {
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #333333;
  font-size: .24rem;
  background: #fafafa;
  display: inline-block
}

.locate-item {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
  border: 1px solid $theme-color;
  line-height: 35px;
  padding: 0 12px;
  font-size: .24rem;
  color: $theme-color;
  min-width: 90px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipse;
  span {
    display: inline-block;
    vertical-align: bottom;
  }
}

.locate-box {
  margin-top: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.refresh-locate {
  color: #666666;
  font-size: .24rem;
  padding: 10px 14px;
  i {
    font-size: .24rem;
    margin-right: 5px;
  }
}

.locate-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  .locate-province {
    width: 100px;
    background: #fafafa;
    height: calc( 100vh - 170px);
    overflow: auto;
    a {
      height: 35px;
      line-height: 35px;
      display: block;
      text-align: left;
      text-indent: 22px;
      color: #333333;
      font-size: .24rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.cur {
        background: #ffffff;
        color: $theme-color;
      }
    }
  }
}

.locate-area {
  flex-grow: 1;
  height: calc( 100vh - 170px);
  overflow: auto;
  position: relative;
  a {
    display: flex;
    flex-direction: row;
    height: 35px;
    background: #ffffff;
    color: #333333;
    font-size: .24rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 28px;
    &.cur {
      color: $theme-color;
    }
  }
}
.filter-btn1{
  img{
    justify-content: center;
    align-items: center;
    width:2.5rem;
  }
}

.supplier-store-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.84rem;
  align-items: flex-end;
  width: 1.6rem;
  margin: .1rem .1rem .1rem 0rem;
  a{

  }
  p {
    color: #999999;
    font-size: 0.26rem;
    margin-right: .1rem;
    img {
        width: 0.21rem;
        height: .27rem;
        margin-right: .2rem;
    }
  }
}