@import '../../../web_modules/wmkit/variable.css';

:local(.box) {
  border-top: 1px solid #ebebeb;
  li {
    padding: 10px 15px;
    border-bottom: 1px solid #ebebeb;
    color: #666;
    font-size: .28rem;
    line-height: 150%;
    span{
      width: 4px;
      height: 4px;
      background: #666;
      border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
    .time {
      color : #999;
      margin-top: 5px;
    }
  }
}

:local(.box li.cur){
  color: $theme-color;
  p {
    color: $theme-color;
  }
  span {
    background: $theme-color;
  }
}
