.safePass-btn {
    text-align: center;
    width: 4.6rem;
    position: relative;
    /* width: 100%; */
    z-index: 99;
    margin: 1.3rem auto auto;
    padding: 0.4rem 0.1rem 0.33rem;
}

.safePass-box {
    padding-bottom: 0;
    width: 77%;
    margin: 0 auto;
}

.safePass-item {
   background: #fff
}

.register-tips {
    text-align:left;
    p{
        font-size: .26rem;
        font-family: 'PingFang SC';
        font-weight: 500;
        color: rgba(153, 153, 153, 1);
        line-height:.39rem;
    }
    
}

.safepss-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    /* &.mySendCode{
        margin:auto 0.4rem auto auto;
    } */
}


.inputBox {
    border-bottom: 1px solid rgb(229, 229, 229);
    font-size:.28rem;
    height: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    flex: 1;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    input{
        margin-left:.5rem
    }
    input::placeholder{
        color: #333333;
    }
}
