@import '../../../web_modules/wmkit/variable.css';

/* 覆盖本来的头部top举例 */

.layout-top {
    &.next-top {
        top: 1rem;
    }
}


/* 头部 */

.other-header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
    top: 0;
    overflow-x: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: url('../../../web_modules/images/user-bg.png') no-repeat;
    height: 1rem;
    .outer {
        box-sizing: border-box;
        display: flex;
        width: 2.81rem;
        height: 0.5rem;
    }
    .titleWrap {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-top-right-radius: 0.26rem;
        border-bottom-right-radius: 0.26rem;
        border: 1px solid #ffffff;
        border-left: none;
        background-color: #FD6A6E;
        width: 1.4rem;
        height: 0.5rem;
        justify-content: center;
        color: #fff;
        font-size: 0.28rem;
    }
    .titleWrap.active {
        background: #ffffff;
        color: $new-theme-color;
    }
    .titleWrap2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        border-top-left-radius: 0.26rem;
        border-bottom-left-radius: 0.26rem;
        border: 1px solid #ffffff;
        border-right: none;
        background-color: #FD6A6E;
        color: #fff;
        width: 1.4rem;
        height: 0.5rem;
        justify-content: center;
        font-size: 0.28rem;
    }
    .titleWrap2.active {
        background: #ffffff;
        color: $new-theme-color;
    }
}


/* 活动订单/服务订单 */

.active-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.2rem 0;
    .title {
        font-size: 0.3rem;
        color: #333;
        margin-bottom: 0.15rem;
    }
    .order-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 0.4rem;
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.1rem;
            .order-box {
                width: 3.5rem;
                height: 1.1rem;
                background: #fff;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0.33rem 0.6rem 0.33rem 0.33rem;
                i {
                    font-size: 0.48rem;
                    font-weight: bold;
                }
                .i1 {
                    color: #ff5c2e;
                }
                .i2 {
                    color: #ffa205;
                }
                .i3 {
                    color: #ffa205;
                }
                .i4 {
                    color: #ff5c2e;
                }
                .text {
                    font-size: 0.3rem;
                    color: #333;
                }
            }
        }
    }
}

.order-list-box {
    /* background: rgba(255, 255, 255, 1); */
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
    border-radius: .2rem !important;
    border-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px 10px !important;
}

.item-text {
    font-size: unset;
}

.select-item-box {
    font-size: 0.24rem;
    height: .80rem;
    text-align: center;
    padding: 0 .4rem;
    line-height: .76rem;
    margin: 0 .2px;
}
