.groupon-rule {
  background-color: #fafafa;
  height: 85vh;
  .select-list-title {
    height: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 0.15rem;
      height: 0.09rem;
      margin-top: 0.02rem;
    }
    span {
      display: inline-block;
      margin: 0 0.12rem;
      font-size: 0.3rem;
      color: #ff1f4e;
      font-weight: bold;
    }
  }
  .about-box {
    padding: 15px;

    h6 {
      margin: 0px 0px 20px;
      color: #333;
      font-size: 0.28rem;
      font-weight: 400;
    }

    p {
      color: #999;
      font-size: 0.28rem;
      margin: 0px;
      line-height: 140%;
      font-weight: 400;
    }

    img {
      width: auto;
      height: auto;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
