.customer-order-top {
    display: flex;
}

.order-form {
    width: .37rem;
    height: .37rem;
}

.order-item-border-top {
    border-top: 0px solid #000000;
}

.self-buy-icon {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 77, 77, 1);
    border-radius: 4px;
    color: rgba(255, 77, 77, 1);
    padding: 2px 4px 2px 4px;
}