/*限时抢购*/
.navbarBack{
  background-color: #F91A53;
}
.am-navbar-light .am-navbar-title{
  color: #fff;
  font-size: 0.3rem;
}
.navbarBack .am-navbar-left-icon{
  color: #fff;
}
.goodIntro{
  display: flex;
  position: relative;
}
.goodImage{
  width: 2rem;
  height: 2rem;
  margin: 5px;
  background-color: #999;
}
.good{
  position: absolute;
  font-size: 0.28rem;
  top: 0.5rem;
  left: 2.5rem;
}
.good-name{
  color: #000;
  margin-bottom: 0.12rem;
}
.good-price{
  margin-top: 10px;
  color: #ff1f4e;
  font-size: 0.4rem;
}
.good-status{
  position: absolute;
  right: 0.4rem;
  bottom: 0.2rem;
}