@import '../../../web_modules/wmkit/variable.css';

:local(.distributionRegister) {
  padding-top: calc(100vh * 0.15);
  .register-from {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0.2rem;
    p {
      font-size: 0.36rem;
      color: #333;
    }
    input {
      border-bottom: 1px solid #ddd;
      margin: 0.8rem 0 1.7rem 0;
      width: calc(100vw * 0.72);
      font-size: 0.26rem;
      text-align: center;
      padding-bottom: 0.2rem;
    }
  }
}
