.invoice-tab {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 12px;
  margin-bottom: 10px;
  background: #fff;
}

.invoice-list {
  margin-top: 10px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
  padding: 10px 0;
  h2 {
    color: #333333;
    font-size: .28rem;
    margin: 0;
    padding: 0 2%;
    font-weight: 400;
  }
}

.invoice-scroll {
  height: 3.6rem;
  overflow-y: auto;
}

.switch-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 13px 10px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background: #ffffff;
}

.form-text .invoice-icon {
  font-size: .36rem;
  color: #333333;
}